<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-6">Plans</span>
          </h2>
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. Mia"
              #input
            />
          </mat-form-field>

          <div class="mat-elevation-z8 table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="dateCreated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Date Created
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row?.dateCreated | date }}
                </td>
              </ng-container>
              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Start Date
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row?.startDate | date }}
                </td>
              </ng-container>
              <ng-container matColumnDef="expiryDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Expiry Date
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.expiryDate | date }}
                </td>
              </ng-container>
              <ng-container matColumnDef="planName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Plan Name
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.planName | titlecase }}
                </td>
              </ng-container>

              <ng-container matColumnDef="planType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Plan Type
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.planType | titlecase }}
                </td>
              </ng-container>

              <ng-container matColumnDef="planDescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Plan Description
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.planDescription }}
                </td>
              </ng-container>
              <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Active
                </th>
                <td mat-cell *matCellDef="let row">
                  <div
                    *ngIf="row.active === 1; then yesSection; else noSection"
                  ></div>
                  <ng-template #yesSection>
                    <mat-icon>check_box</mat-icon></ng-template
                  >
                  <ng-template #noSection>
                    <mat-icon>close</mat-icon></ng-template
                  >
                </td>
              </ng-container>
              <ng-container matColumnDef="deleted">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Deleted
                </th>
                <td mat-cell *matCellDef="let row">
                  <div
                    *ngIf="row.deleted === 1; then yesSection; else noSection"
                  ></div>
                  <ng-template #yesSection>
                    <mat-icon>check_box</mat-icon></ng-template
                  >
                  <ng-template #noSection>
                    <mat-icon>close</mat-icon></ng-template
                  >
                </td>
              </ng-container>
              <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Duration
                </th>
                <td mat-cell *matCellDef="let row">{{ row.duration }}</td>
              </ng-container>
              <ng-container matColumnDef="originalPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Original Price
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.originalPrice | currency }}
                </td>
              </ng-container>
              <ng-container matColumnDef="discountPercentage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Discount Percentage
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.discountPercentage / 100 | percent }}
                </td>
              </ng-container>
              <ng-container matColumnDef="priceAfterDiscount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Price After Discount
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.priceAfterDiscount | currency }}
                </td>
              </ng-container>

              <ng-container matColumnDef="numberOfAdvertisements">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Number Of Advertisements
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.numberOfAdvertisements }}
                </td>
              </ng-container>
              <ng-container matColumnDef="websiteIncluded">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Website Included
                </th>
                <td mat-cell *matCellDef="let row">
                  <div
                    *ngIf="
                      row.websiteIncluded === 1;
                      then yesSection;
                      else noSection
                    "
                  ></div>
                  <ng-template #yesSection>
                    <mat-icon>check_box</mat-icon></ng-template
                  >
                  <ng-template #noSection>
                    <mat-icon>close</mat-icon></ng-template
                  >
                </td>
              </ng-container>
              <ng-container matColumnDef="viewBidsIncluded">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  View Bids Included
                </th>
                <td mat-cell *matCellDef="let row">
                  <div
                    *ngIf="
                      row.viewBidsIncluded === 1;
                      then yesSection;
                      else noSection
                    "
                  ></div>
                  <ng-template #yesSection>
                    <mat-icon>check_box</mat-icon></ng-template
                  >
                  <ng-template #noSection>
                    <mat-icon>close</mat-icon></ng-template
                  >
                </td>
              </ng-container>
              <ng-container matColumnDef="createBidsIncluded">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Create Bids Included
                </th>
                <td mat-cell *matCellDef="let row">
                  <div
                    *ngIf="
                      row.createBidsIncluded === 1;
                      then yesSection;
                      else noSection
                    "
                  ></div>
                  <ng-template #yesSection>
                    <mat-icon>check_box</mat-icon></ng-template
                  >
                  <ng-template #noSection>
                    <mat-icon>close</mat-icon></ng-template
                  >
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Action
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-icon
                    class="mat-18"
                    matTooltip="Delete account"
                    matTooltipPosition="above"
                    class="pointer"
                    (click)="deletePlan(row.planId)"
                    *ngIf="row.active === 1 && row.deleted === 0"
                    >edit</mat-icon
                  >
                  <div
                    *ngIf="row.active === 1; then yesSection; else noSection"
                  ></div>
                  <mat-icon
                    *ngIf="row.deleted === 0"
                    class="mat-18"
                    matTooltip="Delete account"
                    matTooltipPosition="above"
                    class="pointer"
                    (click)="deletePlan(row.planId)"
                    >delete</mat-icon
                  >
                  <ng-template #yesSection>
                    <mat-icon
                      *ngIf="row.deleted === 0"
                      matTooltip="Inactivate plan"
                      matTooltipPosition="above"
                      class="pointer"
                      (click)="changePlanStatus(row.planId, false)"
                      >close</mat-icon
                    ></ng-template
                  >
                  <ng-template #noSection>
                    <mat-icon
                      *ngIf="row.deleted === 0"
                      matTooltip="Activate plan"
                      matTooltipPosition="above"
                      class="pointer"
                      (click)="changePlanStatus(row.planId, true)"
                      >check_box</mat-icon
                    ></ng-template
                  >
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                ngClass="{{
                  row.deleted === 1 || row.active !== 1
                    ? 'bg-inactive'
                    : 'bg-light'
                }}"
              ></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  No data matching the filter "{{ input.value }}"
                </td>
              </tr>
            </table>

            <mat-paginator
              [pageSizeOptions]="[20, 50, 100]"
              aria-label="Select page of users"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
