<div *ngIf="isLoggedIn(); then loggedIn; else public"></div>
<ng-template #public>
  <div class="container-fluid p-3">
    <footer class="footer mt-5 py-1">
      <hr />
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <a
            href="/"
            class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
          >
            <img src="favicon.ico" alt="" />
          </a>
          <p class="text-body-secondary">OntSoft</p>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5>Services</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a
                class="nav-link p-0 text-body-secondary"
                [routerLink]="'/'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
            </li>

            <li class="nav-item mb-2">
              <a
                [routerLink]="'plans'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link p-0 text-body-secondary"
                >Pricing</a
              >
            </li>
            <li class="nav-item mb-2">
              <a
                [routerLink]="'contact-us'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link p-0 text-body-secondary"
                >Contact us</a
              >
            </li>
            <li class="nav-item mb-2">
              <a
                [routerLink]="'about-us'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link p-0 text-body-secondary"
                >About Us</a
              >
            </li>
            <li class="nav-item mb-2">
              <a
                [routerLink]="'/faqs'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link p-0 text-body-secondary"
                >FAQs</a
              >
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Search</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a
                [routerLink]="['/advertisements']"
                routerLinkActive="router-link-active"
                class="nav-link p-0 text-body-secondary"
                >Advertisements</a
              >
            </li>
            <li class="nav-item mb-2">
              <a
                [routerLink]="['/rfps']"
                routerLinkActive="router-link-active"
                class="nav-link p-0 text-body-secondary"
                >RFPs</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">About</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5>Quick Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a
                [routerLink]="'login'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link p-0 text-body-secondary"
                >Login</a
              >
            </li>
            <li class="nav-item mb-2">
              <a
                [routerLink]="'signup'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link p-0 text-body-secondary"
                >Signup</a
              >
            </li>
            <li class="nav-item mb-2">
              <a
                [routerLink]="'/privacy-policy'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link p-0 text-body-secondary"
                >Privacy Policy</a
              >
            </li>
            <li class="nav-item mb-2">
              <a
                [routerLink]="'/terms-conditions'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link p-0 text-body-secondary"
                >Terms & Conditions</a
              >
            </li>
            <li class="nav-item mb-2">
              <a
                [routerLink]="'/cookie-policy'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link p-0 text-body-secondary"
                >Cookie Policy</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-3">
          <form>
            <h5>Register for a free account</h5>
            <p>
              Sign up for a commitment free account today and unlock limitless
              features!.
            </p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden"
                >Email address</label
              >
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">@</span>

                <input
                  id="email"
                  [(ngModel)]="email"
                  type="text"
                  name="email"
                  class="form-control"
                  placeholder="Email address"
                />
              </div>
            </div>
            <button
              class="btn btn-primary my-2"
              type="button"
              (click)="navigateSignup()"
            >
              Register
            </button>
          </form>
        </div>
      </div>

      <div
        class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
      >
        <p>
          &copy; {{ getYear() | date : 'yyyy' }} Copyright:
          <a class="text-reset fw-bold" href="https://ontsoft.com/"
            >ontsoft.com</a
          >
        </p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="link-body-emphasis" href="#"
              ><i class="bi bi-twitter"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="#"
              ><i class="bi bi-instagram"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="#"
              ><i class="bi bi-facebook"></i
            ></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</ng-template>
<ng-template #loggedIn>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">About</a>
        </li>
      </ul>
      <p class="text-center text-body-secondary">
        &copy; {{ getYear() | date : 'yyyy' }} Copyright:
        <a class="text-reset fw-bold" href="https://ontsoft.com/"
          >ontsoft.com</a
        >
      </p>
    </footer>
  </div>
</ng-template>
