<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-12">Create New User</span>
          </h2>

          <div class="border border-1 p-2">
            <a mat-raised-button color="primary" routerLink="/sadmin/users">
              Users list
            </a>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <app-form-errors [formErrors]="formErrors"></app-form-errors>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <p class="h2 border-bottom">Enter all required information</p>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <form [formGroup]="form">
                  <div class="row">
                    <div class="col-md-3 mt-1 form-label">User ID/Email</div>
                    <div class="col-md-8">
                      <input
                        class="form-control"
                        placeholder="Enter your middle name..."
                        formControlName="userId"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3 mt-1 form-label">First Name</div>
                    <div class="col-md-8">
                      <input
                        class="form-control"
                        placeholder="Enter your first name..."
                        formControlName="firstName"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3 mt-1 form-label">Last Name</div>
                    <div class="col-md-8">
                      <input
                        class="form-control"
                        placeholder="Enter your last name..."
                        formControlName="lastName"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3 mt-1 form-label">Role</div>
                    <div class="col-md-8">
                      <select
                        formControlName="role"
                        class="form-select"
                        [(ngModel)]="selectedRole"
                      >
                        <option selected>Select Role</option>
                        <option *ngFor="let item of this.roles">
                          {{ item }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div
                    class="row my-2 border rounded"
                    *ngIf="selectedRole === 'Admin'"
                  >
                    <div class="col-md-3 mt-1 form-label">Permissions</div>
                    <div class="col-md-9">
                      <mat-checkbox
                        formControlName="viewDashboard"
                        [(ngModel)]="userPermissions.viewDashboard"
                        >View Dashboard</mat-checkbox
                      >

                      <mat-checkbox
                        formControlName="updateAdminSettings"
                        [(ngModel)]="userPermissions.updateAdminSettings"
                        >Update Admin Settings</mat-checkbox
                      >

                      <mat-checkbox
                        formControlName="createUser"
                        [(ngModel)]="userPermissions.createUser"
                        >Create User</mat-checkbox
                      >

                      <mat-checkbox
                        formControlName="viewUsers"
                        [(ngModel)]="userPermissions.viewUsers"
                        >View Users</mat-checkbox
                      >

                      <mat-checkbox
                        formControlName="createPlan"
                        [(ngModel)]="userPermissions.createPlan"
                        >Create Plan</mat-checkbox
                      >

                      <mat-checkbox
                        formControlName="listPlans"
                        [(ngModel)]="userPermissions.listPlans"
                        >List Plans</mat-checkbox
                      >

                      <mat-checkbox
                        formControlName="viewPendingAdvertisements"
                        [(ngModel)]="userPermissions.viewPendingAdvertisements"
                        >View Pending Advertisements</mat-checkbox
                      >

                      <mat-checkbox
                        formControlName="approveAdvertisement"
                        [(ngModel)]="userPermissions.approveAdvertisement"
                        >Approve Advertisements</mat-checkbox
                      >
                      <mat-checkbox
                        formControlName="allowPlanActions"
                        [(ngModel)]="userPermissions.allowPlanActions"
                        >Allow Plan update/delete actions</mat-checkbox
                      >
                      <mat-checkbox
                        formControlName="allowUserActions"
                        [(ngModel)]="userPermissions.allowUserActions"
                        >Allow User update/delete actions</mat-checkbox
                      >
                      <mat-checkbox
                        formControlName="viewRfps"
                        [(ngModel)]="userPermissions.viewRfps"
                        >View Request for proposal(RFP)</mat-checkbox
                      >
                      <mat-checkbox
                        formControlName="approvedRfps"
                        [(ngModel)]="userPermissions.approvedRfps"
                        >Approve Request for proposal(RFP)</mat-checkbox
                      >
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-8">
                <button class="submit-button my-2" (click)="submit()">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
