<div
  style="width: 100%"
  id="carouselExampleIndicators"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="8000">
      <img
        src="../../../assets/images/building-ge23753fb3_1920.jpg"
        style="height: 400px"
        class="d-block w-100 rounded opacity-50"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <p class="display-2">User-friendly interface</p>
        <p class="display-7">
          making it easy for users to navigate and use the application.
        </p>
        <br /><br />
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="8000">
      <img
        src="../../../assets/images/city-gab32398f8_1920.jpg"
        style="height: 400px"
        class="d-block w-100 rounded opacity-50"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <p class="display-2">Data security and backups</p>
        <p class="display-7">
          Built with security features to protect sensitive data, such as user
          login credentials and personal information.
        </p>
        <br /><br />
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="8000">
      <img
        src="../../../assets/images/floor-plan-g7261aeb95_1920.jpg"
        style="height: 400px"
        class="d-block w-100 rounded opacity-50"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <p class="display-2">System Accessibility.</p>
        <p class="display-7">
          Allowing users to access them from anywhere at any time.
        </p>
        <br /><br />
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- "Discover Insights with [Name of the application]" "Uncover Trends with [Name of
the application]" "Get Real Results with [Name of the application]" "Gather Data
like Never Before with [Name of the application]" "Transform Feedback into
Action with [Name of the application]" "Revolutionize Your Surveys with [Name of
the application]" "Empower Your Decisions with [Name of the application]"
"Unlock the Power of Your Data with [Name of the application]" "Innovative
Surveys, Effortless Results with [Name of the application]" "Make Surveys a
Breeze with [Name of the application]" -->
