<div
  style="width: 100%"
  id="carouselExampleIndicators"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="8000">
      <img
        src="../../../assets/images/building-ge23753fb3_1920.jpg"
        style="height: 400px"
        class="d-block w-100 rounded opacity-50"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <section class="pt-lg-3" id="plans">
          <div class="container pt-4">
            <div class="p-4 p-sm-5">
              <div class="text-center px-0 px-sm-5">
                <h2 class="text-success">Premium features on all plans.</h2>
                <p class="h4 m-0 px-0 px-md-5 text-secondary">
                  We've always worked very hard to give our customers the best
                  experience in dealing with their client's requirements.
                </p>
              </div>
              <div class="mt-3 text-center">
                <a class="btn btn-success mb-sm-2" href="/plans"
                  >View our plans</a
                >
                <a
                  class="btn btn-primary mb-sm-2 mx-2"
                  routerLink="/signup"
                  routerLinkActive="router-link-active"
                  >Sign up for free</a
                >
              </div>
            </div>
          </div>
        </section>
        <br /><br />
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="8000">
      <img
        src="../../../assets/images/city-gab32398f8_1920.jpg"
        style="height: 400px"
        class="d-block w-100 rounded opacity-50"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block mb-5">
        <p class="h2 text-success">
          Your Project, Our Passion: Construction Excellence
        </p>
        <p class="h4 text-secondary">
          Your Project, Our Passion: Construction Excellence
        </p>
        <br /><br />
        <br /><br />
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="8000">
      <img
        src="../../../assets/images/floor-plan-g7261aeb95_1920.jpg"
        style="height: 400px"
        class="d-block w-100 rounded opacity-50"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block mb-5">
        <p class="h2 text-success">
          Innovative Building Solutions for Every Need.
        </p>
        <p class="h4 text-secondary">
          Innovative Building Solutions for Every Need.
        </p>
        <br /><br />
        <br /><br />
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="8000">
      <img
        src="../../../assets/images/skyscraper-gd32255f8c_1920.jpg"
        style="height: 400px"
        class="d-block w-100 rounded opacity-50"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block mb-5">
        <p class="h2 text-success">Building Trust One Project at a Time.</p>
        <p class="h4 text-secondary">Building Trust One Project at a Time.</p>
        <br /><br />
        <br /><br />
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
