<div *ngIf="serverGetError; then error; else show"></div>
<ng-template #error>
  <div style="margin: 100px">
    <api-server-error *ngIf="serverGetError" [error]="serverGetError" />
  </div>
</ng-template>
<ng-template #show>
  <div class="container">
    <div class="row">
      <div class="col">
        <app-form-errors [formErrors]="formErrors"></app-form-errors>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <!-- <h3 class="mb-3">Edit/update your information</h3>
        <p>Latitude: {{ currentPosition.coords.latitude }}</p>
        <p>Longitude: {{ currentPosition.coords.longitude }}</p>
        <p>Address: {{ address }}</p> -->

        <h4 *ngIf="updateCompleted" class="text-success">Update Successful.</h4>
        <h4 *ngIf="serverUpdateError" class="text-danger">
          {{ serverUpdateError }}
        </h4>
      </div>
    </div>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-2 mt-1">First Name</div>
        <div class="col-md-4">
          <input
            class="form-control"
            placeholder="Enter your first name..."
            formControlName="firstName"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mt-1">Middle Name</div>
        <div class="col-md-4">
          <input
            class="form-control"
            placeholder="Enter your middle name..."
            formControlName="middleName"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mt-1">Last Name</div>
        <div class="col-md-4">
          <input
            class="form-control"
            placeholder="Enter your last name..."
            formControlName="lastName"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mt-1">Phone Number</div>
        <div class="col-md-4">
          <input
            class="form-control"
            placeholder="Phone Number"
            formControlName="phone"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mt-1">Fax Number</div>
        <div class="col-md-4">
          <input
            class="form-control"
            placeholder="Fax Number"
            formControlName="fax"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mt-1">
          Use current location <i class="bi bi-location"></i>
        </div>
        <div class="col-md-6">
          <input
            type="checkbox"
            formControlName="currentAddress"
            name="currentAddress"
            id=""
          />
          {{ address }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mt-1">Address</div>
        <div class="col-md-6">
          <input
            class="form-control"
            placeholder="Enter your last name..."
            formControlName="address"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mt-1">Province</div>
        <div class="col-md-4">
          <select
            formControlName="province"
            class="form-select"
            aria-label="Default select province"
            [(ngModel)]="selectedProvince"
            (change)="selectedProvinceAction()"
          >
            <option selected>Select Province</option>
            <option
              [value]="item.province"
              *ngFor="let item of this.canadaCountryInfo()"
            >
              {{ item.province }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mt-1">City</div>
        <div class="col-md-4">
          <select
            formControlName="city"
            class="form-select"
            aria-label="Default select city"
            [(ngModel)]="selectedCity"
          >
            <option [value]="city" *ngFor="let city of cities()">
              {{ city }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mt-1">Postal Code</div>
        <div class="col-md-4">
          <input
            class="form-control"
            placeholder="Postal Code"
            formControlName="postalCode"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mt-2">website</div>
        <div class="col-md-4">
          <input
            class="form-control"
            placeholder="Enter website"
            formControlName="website"
          />
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <button class="submit-button my-2" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</ng-template>
