<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-form-errors [formErrors]="formErrors"></app-form-errors>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="h2 border-bottom"></p>
      <div class="row">
        <div class="col-12">
          <div class="accordion" id="previousPlan">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Guidelines for profile update
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse show"
                data-bs-parent="#previousPlan"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col">
                      <div class="alert alert-warning my-2">
                        <h4 class="alert-heading">
                          <i class="bi bi-info-circle me-1"></i>Edit Profile
                        </h4>
                        <hr />
                        <p>
                          To ensure you get the most out of your experience on
                          our platform and to facilitate seamless communication,
                          we strongly encourage you to keep your profile
                          information up to date.
                        </p>

                        <p class="fw-bold">Why is this important?</p>
                        <ul>
                          <li>
                            Stay Connected: Up-to-date contact information
                            ensures we can reach you with important updates,
                            notifications, and account-related communications.
                          </li>
                          <li>
                            Accurate Location: If applicable, maintaining a
                            current address is crucial for location-based
                            services and connections within our community.
                          </li>
                          <li>
                            Enhanced Security: Keeping your profile information
                            current adds an extra layer of security, helping us
                            verify your identity and protect your account.
                          </li>
                        </ul>
                        <p>
                          Should you have any questions or encounter any
                          challenges while updating your profile, our support
                          team is ready to assist. Reach out to us at
                          [support@email.com].
                        </p>
                        <p>
                          Thank you for your cooperation in maintaining a
                          vibrant and secure community. We appreciate your
                          commitment to keeping your profile information
                          current.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-2 mt-1 form-labe form-label" for="formFile">
            Profile Photo
          </div>
          <div class="col-md-8">
            <input
              class="form-control"
              type="file"
              formControlName="photo"
              accept="image/*"
              aria-describedby="fileHelpBlock"
              (change)="profileImageHandler($event)"
            />
            <div id="fileHelpBlock" class="form-text">
              <span class="small-text mx-2">
                Acceptable image file ({{
                  this.commonUtility._imageMimeTypes
                }}). <br
              /></span>
              <span class="small-text mx-2">
                Header image width should be between
                {{
                  this.commonUtility._profilePhotoMinMaxWidthHeightPixel[0][0]
                }}
                -
                {{
                  this.commonUtility._profilePhotoMinMaxWidthHeightPixel[0][1]
                }}
                pixels.
              </span>
              <br />
              <span class="small-text mx-2">
                Header image height should be between
                {{
                  this.commonUtility._profilePhotoMinMaxWidthHeightPixel[1][0]
                }}
                -
                {{
                  this.commonUtility._profilePhotoMinMaxWidthHeightPixel[1][1]
                }}
                pixels. <br />
              </span>
              <span class="small-text mx-2">
                Maximum file size of
                {{
                  commonUtility.convertBytesToKbOrMb(
                    this.commonUtility._profilePhotoMaxSize
                  )
                }}
                .</span
              >
            </div>
            <div class="file-item my-2" *ngIf="profileImageFile">
              <table class="table table-bordered table-responsive align-middle">
                <thead>
                  <tr>
                    <th>File name</th>
                    <th>File type</th>
                    <th>File size</th>
                    <th>Dimensions</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ profileImageFile?.name }}</td>
                    <td>{{ profileImageFile?.type }}</td>
                    <td>
                      {{
                        commonUtility.convertBytesToKbOrMb(
                          profileImageFile?.size
                        )
                      }}
                    </td>
                    <td>
                      {{
                        profileImageFile.width + ' X ' + profileImageFile.height
                      }}
                    </td>

                    <td>
                      <button
                        class="btn btn-danger"
                        (click)="deleteHeaderImage()"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" style="text-align: center">
                      <img
                        [src]="this.profileImageSrc"
                        style="max-width: 800px; max-height: 400px"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-1 form-label">First Name</div>
          <div class="col-md-8">
            <input
              class="form-control"
              placeholder="Enter your first name..."
              formControlName="firstName"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-1 form-label">Middle Name</div>
          <div class="col-md-8">
            <input
              class="form-control"
              placeholder="Enter your middle name..."
              formControlName="middleName"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-1 form-label">Last Name</div>
          <div class="col-md-8">
            <input
              class="form-control"
              placeholder="Enter your last name..."
              formControlName="lastName"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-1 form-label">Phone Number</div>
          <div class="col-md-8">
            <input
              formControlName="phone"
              type="text"
              class="form-control"
              [showMaskTyped]="true"
              mask="(000) 000-0000"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-1 form-label">Fax Number</div>
          <div class="col-md-8">
            <input
              formControlName="fax"
              [showMaskTyped]="true"
              class="form-control"
              mask="(000) 000-0000"
            />
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-2 mt-1 form-label">
              Use current location <i class="bi bi-location"></i>
            </div>
            <div class="col-md-8">
              <input
                type="checkbox"
                formControlName="currentAddress"
                name="currentAddress"
                id=""
              />
              {{ address }}
            </div>
          </div> -->
        <hr />
        <div class="row">
          <div class="col-10 text-small alert alert-info">
            <p class="text-primary fw-bold">For Service/Sales Providers</p>
            Your profile address should reflect the location of your home or
            business office where you provide your services or conduct sales.
            This ensures that potential clients and customers can easily locate
            you or your business for any inquiries, appointments, or
            transactions.
            <p class="text-primary fw-bold">For General Users:</p>
            Your profile address should represent your home address, allowing
            for accurate communication and connections within our community.
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-1 form-label">Address</div>
          <div class="col-md-8">
            <input
              class="form-control"
              placeholder="Enter your last name..."
              formControlName="address"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-1 form-label">Province</div>
          <div class="col-md-8">
            <select
              formControlName="province"
              class="form-select"
              aria-label="Default select province"
              [(ngModel)]="selectedProvince"
              (change)="selectedProvinceAction()"
            >
              <option selected>Select Province</option>
              <option [value]="item" *ngFor="let item of this.canadaProvinces">
                {{ item }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-1 form-label">City</div>
          <div class="col-md-8">
            <select
              formControlName="city"
              class="form-select"
              aria-label="Default select city"
              [(ngModel)]="selectedCity"
            >
              <option [value]="city" *ngFor="let city of cities">
                {{ city }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-1 form-label">Postal Code</div>
          <div class="col-md-8">
            <input
              class="form-control"
              placeholder="Postal Code"
              formControlName="postalCode"
              mask="A0A-0A0"
              [showMaskTyped]="true"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-2">Website</div>
          <div class="col-md-8">
            <input
              class="form-control"
              placeholder="Enter website"
              formControlName="website"
              type="url"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mt-2">Company Name</div>
          <div class="col-md-8">
            <input
              class="form-control"
              placeholder="Enter company"
              formControlName="company"
            />
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-2 mt-1 form-labe form-label" for="formFile">
            Company Logo
          </div>
          <div class="col-md-8">
            <input
              class="form-control"
              type="file"
              formControlName="companyLogo"
              accept="image/*"
              aria-describedby="companyLogo"
              (change)="companyLogoHandler($event)"
            />
            <div id="fileHelpBlock" class="form-text">
              <span class="small-text">
                Max image size for profile pictures is 180 by 180 pixels with a
                maximum file size of 100 KB (kilobyte).</span
              >
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-2 mt-2">Profile Description</div>
          <div class="col-md-8">
            <textarea
              class="form-control"
              placeholder="Enter description"
              formControlName="jobProfileDescription"
              maxlength="400"
              rows="5"
            ></textarea>
            <span class="text-danger">
              {{
                this.form?.get('jobProfileDescription')?.value?.length
                  ? this.form?.get('jobProfileDescription')?.value?.length
                  : 0
              }}</span
            >

            / 400
          </div>
        </div>
      </form>
    </div>
    <div class="col-3 border-start" *ngIf="user()?.profileImage">
      <div class="card" aria-hidden="true">
        <div class="card-body text-center">
          <h6 class="card-title">
            <span class="col-12">Profile Photo</span>
          </h6>
          <hr />
          <img
            #imageElement
            class="rounded mx-auto d-block"
            [src]="imageService.bufferToSafeUrl(user()?.profileImage)"
            alt="Image"
            width="200px"
            height="200px"
          />
          <hr />
          <button class="submit-button my-2" (click)="deleteUserProfileImage()">
            Delete Profile Photo
          </button>
        </div>
      </div>

      <!-- <br />
      <br />
      <h3>Company Logo</h3>
      <img
        #imageElement
        [src]="imageService.bufferToSafeUrl(user()?.logoImage)"
        alt="Image"
        width="80px"
        height="80px"
      /> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <button class="submit-button my-2" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
