<div class="container-flu m-3 border rounded">
  <div class="row" *ngIf="serverError || formErrors">
    <div class="col-6 m-3 p-3">
      <app-form-errors
        *ngIf="formErrors"
        [formErrors]="formErrors"
      ></app-form-errors>
      <api-server-error *ngIf="serverError" [error]="serverError" />
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-6 col-sm-12 border-end">
      <form [formGroup]="form">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <h2 class="mb-3 border-bottom">Change your password.</h2>
            </div>
          </div>
          <div class="row my-1">
            <div class="col-lg-4">
              <label for="currentPassword" class="form-label my-1"
                >Current Password</label
              >
            </div>
            <div class="col-lg-8">
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                class="form-control"
                placeholder="Enter password"
                [(ngModel)]="currentPassword"
                formControlName="currentPassword"
              />
              <span class="field-icon">
                <i
                  class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }} "
                  (click)="togglePasswordVisibility()"
                ></i>
              </span>
            </div>
          </div>
          <div class="row my-1">
            <div class="col-lg-4">
              <label for="password" class="form-label my-1"> Password</label>
            </div>
            <div class="col-lg-8">
              <input
                type="{{ showConfirmPassword ? 'text' : 'password' }}"
                class="form-control"
                placeholder="Enter password"
                [(ngModel)]="password"
                formControlName="password"
              />
              <span class="field-icon">
                <i
                  class="fa {{
                    showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'
                  }} "
                  (click)="toggleConfirmPasswordVisibility()"
                ></i>
              </span>
            </div>
          </div>
          <div class="row my-1">
            <div class="col-lg-4">
              <label for="confirmPassword" class="form-label my-1"
                >Confirm Password</label
              >
            </div>
            <div class="col-lg-8">
              <input
                type="{{ showConfirmPassword ? 'text' : 'password' }}"
                class="form-control"
                placeholder="Confirm Password."
                formControlName="confirmPassword"
              />
              <span class="field-icon">
                <i
                  class="fa {{
                    showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'
                  }} "
                  (click)="toggleConfirmPasswordVisibility()"
                ></i>
              </span>
            </div>
          </div>

          <div class="row my-3">
            <div class="col-4"></div>
            <div class="col-8">
              <button class="submit-button" (click)="changePassword()">
                Change password
              </button>
              <button class="submit-button mx-2" (click)="logout()">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <div class="row p-4"></div>
      </form>
    </div>

    <div class="col-md-6 col-sm-12">
      <h2 class="border-bottom-1">Password Rule.</h2>
      <ul
        class="list-group list-group-borderless list-group-icon-primary-bg mb-4"
        *ngFor="let item of this.commonUtility.passwordRule()"
      >
        <li class="list-group-item"><i class="bi bi-check"></i>{{ item }}</li>
      </ul>
    </div>
  </div>
</div>
