<div class="border">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/dashboard']"
      >
        <i class="bi bi-speedometer"><span class="mx-2">Dashboard</span></i>
      </a>
    </li>
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/user-profile']"
      >
        <i class="bi bi-person-square"><span class="mx-2">My Profile</span></i>
      </a>
    </li>
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/user-services']"
      >
        <i class="bi bi-grid-3x2"><span class="mx-2">My Services</span></i>
      </a>
    </li>
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/user-account']"
      >
        <i class="bi bi-person-vcard"><span class="mx-2">My Account</span></i>
      </a>
    </li>
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/purchase-plan']"
      >
        <i class="bi bi-basket"><span class="mx-2">Purchase a Plan</span></i>
      </a>
    </li>
    <li class="list-group-item" *ngIf="plan()?.customProfileIncluded === 1">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/custom-page']"
      >
        <i class="bi bi-grid-1x2"><span class="mx-2">My Custom Page</span></i>
      </a>
    </li>
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/user-advertisements']"
      >
        <i class="bi bi-badge-ad"
          ><span class="mx-2">My Advertisements</span></i
        >
      </a>
    </li>
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/new-advertisement']"
      >
        <i class="bi bi-plus-circle-dotted"
          ><span class="mx-2">Create Advertisement</span></i
        >
      </a>
    </li>
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/my-rfps']"
      >
        <i class="bi bi-card-list"><span class="mx-2">My RFPs</span></i>
      </a>
    </li>
    <li class="list-group-item" *ngIf="plan()?.createBidsIncluded === 1">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/my-bids']"
      >
        <i class="bi bi-card-list"><span class="mx-2">My Bids/Offers</span></i>
      </a>
    </li>
    <li class="list-group-item" *ngIf="plan()?.onlineSupportIncluded === 1">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/request-support']"
      >
        <i class="bi bi-question-diamond"
          ><span class="mx-2">Request Support</span></i
        >
      </a>
    </li>
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/general/change-password']"
      >
        <i class="bi bi-key"><span class="mx-2">Change Password</span></i>
      </a>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <i class="bi bi-envelope-at"
        ><span class="mx-2">
          <a
            [routerLinkActive]="['active_section']"
            [routerLink]="['/general/user-messages']"
            >Messages</a
          ></span
        ></i
      >
      <span class="badge bg-primary rounded-pill">{{
        userNewMessagesNbr() > 0 ? userNewMessagesNbr() : ''
      }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <i class="bi bi-heart"
        ><span class="mx-2">
          <a
            [routerLinkActive]="['active_section']"
            [routerLink]="['/general/user-favorites']"
            >My Favorites</a
          ></span
        ></i
      >
      <span class="badge bg-primary rounded-pill"></span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <i class="fa fa-star"
        ><span class="mx-2">
          <a
            [routerLinkActive]="['active_section']"
            [routerLink]="['/general/user-reviews']"
            >My Reviews</a
          ></span
        ></i
      >
      <span class="badge bg-primary rounded-pill"></span>
    </li>
    <!-- <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <i class="bi bi-chat-heart"><span class="mx-2">Notifications</span></i>
      <span class="badge bg-primary rounded-pill">14</span>
    </li> -->
    <li class="list-group-item">
      <a (click)="logout()" class="text-primary">
        <i class="bi bi-box-arrow-in-right"><span class="mx-2">Logout</span></i>
      </a>
    </li>
  </ul>
</div>
