<div class="container-fluid border border-black p-4">
  <div class="row row-cols-1">
    <div class="col-10 font-weight-bold border-bottom">
      <div class="alert alert-warning my-2">
        <h4 class="alert-heading">
          <i class="bi bi-info-circle me-1"></i>Choose the Perfect Plan Before
          Unleashing Your Ads!
        </h4>
        <hr />
        <p>
          Before you dive into creating your next advertisement, we want to
          ensure you have the perfect plan to power your promotional efforts.
        </p>
        <p>
          To optimize your experience and make the most out of our advertising
          features, we recommend selecting the right plan from our list of
          options. This will not only cater to your specific needs but also
          unlock a range of benefits tailored to enhance your campaign's
          effectiveness.
        </p>
        <p class="fw-bold">Here's a quick guide to help you get started:</p>
        <ul>
          <li>
            Select the perfect plan from the list of plans, tailored to suit
            different advertising goals and budgets
          </li>
          <li>
            Once you've chosen the ideal plan, proceed with the payment to
            unlock a range of benefits and maximize the effectiveness of your
            campaigns.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-horizontal-stepper
        linear
        #stepper
        animationDuration="500"
        [class]="
          this.storageService.getTheme()() === 'dark' ? 'bg-dark' : 'bg-light'
        "
      >
        <mat-step linear [optional]="false">
          <ng-template matStepLabel
            ><span
              [class]="
                this.storageService.getTheme()() === 'dark' ? 'text-light' : ''
              "
              >Basic Information</span
            ></ng-template
          >
          <div class="container-fluid">
            <div class="row row-cols-3 gy-2 justify-items-center">
              <div class="col" *ngFor="let plan of listPlans">
                <app-plan [plan]="plan"></app-plan>
                <div>
                  <button
                    (click)="goForward(stepper, this.plan)"
                    class="submit-button my-2 mx-5"
                    (click)="deleteAllMessages()"
                  >
                    Select Plan
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step linear [optional]="false">
          <ng-template matStepLabel
            ><span
              [class]="
                this.storageService.getTheme()() === 'dark' ? 'text-light' : ''
              "
              >Process Payment</span
            ></ng-template
          >
          <div class="container-fluid border border-black p-4">
            <div class="row row-cols-1">
              <div class="col-8 font-weight-bold border-bottom">payment.</div>
            </div>
            <div class="row row-cols-4">
              <div class="col">{{ selectedPlan | json }}</div>
            </div>
          </div>

          <div class="mt-5">
            <button
              mat-stroked-button
              color="primary"
              class="mx-1"
              matStepperPrevious
              id="stepTwoBack"
            >
              Back
            </button>
            <button
              mat-stroked-button
              color="primary"
              class="mx-4"
              (click)="purchase()"
            >
              Submit
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
