table {
  width: 100%;
  overflow: auto;
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
  text-align: center;
}
td img {
  display: block; /* Ensures margin: 0 auto; works */
  margin: 0 auto; /* Center horizontally */
}
