<!-- <div class="container-fluid ">
    <div class="row">
        <div class="col">

            <div class="card" aria-hidden="true">

                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                    <a class="btn btn-secondary placeholder col-6"></a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-6">Dashboard</span>
          </h2>
          <hr />
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <div class="card" aria-hidden="true">
                  <div class="card-body">
                    <h4 class="card-title text-center">Users</h4>
                    <hr />

                    <ul class="list-group">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Number of Users
                        <span class="badge bg-primary rounded-pill"> fgds</span>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Number of Active Users
                        <span class="badge bg-primary rounded-pill">
                          asdfsa</span
                        >
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Number of Inactive Users
                        <span class="badge bg-primary rounded-pill"> asdf</span>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Number of closed account Users
                        <span class="badge bg-primary rounded-pill">
                          asdfa</span
                        >
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Number of Currently logged in Users
                        <span class="badge bg-primary rounded-pill"> asdf</span>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Number of free Users
                        <span class="badge bg-primary rounded-pill"> a </span>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Number of paid Users
                        <span class="badge bg-primary rounded-pill"> a</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" aria-hidden="true">
                  <div class="card-body">
                    <h4 class="card-title text-center">Financial</h4>
                    <hr />

                    <ul class="list-group">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Total Revenue
                        <span class="badge bg-primary rounded-pill"> 255</span>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Revenue this month
                        <span class="badge bg-primary rounded-pill"> 255</span>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Number of Currently logged in Users
                        <span class="badge bg-primary rounded-pill"> 255</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" aria-hidden="true">
                  <div class="card-body">
                    <h4 class="card-title text-center">Plans</h4>
                    <hr />

                    <ul class="list-group">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Sales per plan
                        <span class="badge bg-primary rounded-pill"> 255</span>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Number of purchased plans
                        <span class="badge bg-primary rounded-pill"> 255</span>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        Number of Currently logged in Users
                        <span class="badge bg-primary rounded-pill"> 255</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
