<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="navigateHomePage()">
      <img src="favicon.ico" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            (click)="navigateHomePage()"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/advertisements']"
            routerLinkActive="router-link-active"
            >Advertisements</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/rfps']"
            routerLinkActive="router-link-active"
            >Request for Proposals(RFPs)</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a
            class="nav-link"
            [routerLink]="'login'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a
            class="nav-link text-success"
            [routerLink]="'signup'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Signup</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" *ngIf="isLoggedIn()">Logout</a>
        </li>
      </ul>
      <ng-container *ngIf="isLoggedIn()">
        <div
          *ngIf="user()?.profileImage; then yesSection; else noSection"
        ></div>
        <ng-template #yesSection>
          <img
            class="img-thumbnail rounded float-end"
            width="40"
            height="40"
            [src]="imageService.bufferToSafeUrl(user()?.profileImage)"
        /></ng-template>
        <ng-template #noSection> <mat-icon>person</mat-icon></ng-template>
      </ng-container>

      <span class="mx-2">
        <a
          class="nav-link"
          aria-current="page"
          (click)="navigateHomePage()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ userName() | titlecase }}</a
        >
      </span>
      <button class="btn btn-outline-primary" (click)="changeThemeMode()">
        <i
          [ngClass]="
            theme() === 'dark'
              ? 'bi bi-brightness-high'
              : 'bi bi-cloud-sun-fill'
          "
        ></i>
        {{ theme() === 'dark' ? 'Light Theme' : 'Dark Theme' }}
      </button>
      <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
    </div>
  </div>
</nav>
<div class="" style="width: 100%; height: 400px" *ngIf="!isLoggedIn()">
  <app-carousel-header></app-carousel-header>
</div>
