<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-12">Edit Advertisement</span>
          </h2>

          <div class="container-fluid my-3 border border-1 p-2">
            <div class="row">
              <div class="col">
                <app-form-errors [formErrors]="formErrors"></app-form-errors>
              </div>
            </div>
            <div class="row p-2">
              <div class="col">
                <form [formGroup]="form">
                  <mat-horizontal-stepper
                    formArrayName="formArray"
                    linear
                    #stepper
                    animationDuration="500"
                    [class]="
                      this.storageService.getTheme()() === 'dark'
                        ? 'bg-dark'
                        : 'bg-light'
                    "
                  >
                    <mat-step
                      linear
                      [optional]="false"
                      formGroupName="0"
                      [stepControl]="formArray?.get([0])"
                    >
                      <ng-template matStepLabel
                        ><span
                          [class]="
                            this.storageService.getTheme()() === 'dark'
                              ? 'text-light'
                              : ''
                          "
                          >Advertisement Categories/Tags</span
                        ></ng-template
                      >
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-12">
                            <!-- Include this message in your advertisement creation form or template -->

                            <div class="alert alert-info">
                              <p><strong>Attention Advertisers:</strong></p>
                              <p>
                                To enhance the visibility and relevance of your
                                advertisement, please ensure you add all
                                appropriate categories and tags. This will help
                                potential customers find your services more
                                easily. Follow these tips:
                              </p>
                              <ul>
                                <li>
                                  <strong>Categorize accurately:</strong>
                                  Choose the most relevant category for your
                                  services.
                                </li>
                                <li>
                                  <strong>Add specific tags:</strong> Include
                                  tags that describe key features of your
                                  product or service.
                                </li>
                                <li>
                                  <strong>Be comprehensive:</strong> Think about
                                  what terms users might search for when looking
                                  for your type of offering.
                                </li>
                              </ul>
                              <p>
                                Thank you for helping us create a more organized
                                and user-friendly platform!
                              </p>
                            </div>
                          </div>
                          <div class="col-md-12 border rounded my-3 p-3">
                            <mat-form-field class="chip-list">
                              <mat-label>Current Categories/Tags</mat-label>
                              <mat-chip-grid
                                #chipGrid
                                aria-label="Service selection"
                                formControlName="tags"
                              >
                                <mat-chip-row
                                  *ngFor="let tag of myTags"
                                  (removed)="removeTag(tag)"
                                >
                                  <span class="text-primary">{{ tag }}</span>
                                  <button
                                    matChipRemove
                                    [attr.aria-label]="'remove ' + tag"
                                  >
                                    <mat-icon>cancel</mat-icon>
                                  </button>
                                </mat-chip-row>
                              </mat-chip-grid>
                              <input
                                placeholder="New Tag..."
                                #tagInput
                                [formControl]="tagCtrl"
                                [matChipInputFor]="chipGrid"
                                [matAutocomplete]="auto"
                                [matChipInputSeparatorKeyCodes]="
                                  separatorKeysCodes
                                "
                                (matChipInputTokenEnd)="addTag($event)"
                              />
                              <mat-autocomplete
                                #auto="matAutocomplete"
                                (optionSelected)="selectedTag($event)"
                              >
                                <mat-option
                                  *ngFor="let tag of filteredTags | async"
                                  [value]="tag"
                                >
                                  <span class="">{{ tag }}</span>
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="mt-5">
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-1"
                          id="stepTwoBack"
                          (click)="goForward(stepper, 0)"
                        >
                          Next
                        </button>
                      </div>
                    </mat-step>
                    <mat-step
                      linear
                      [optional]="false"
                      formGroupName="1"
                      [stepControl]="formArray?.get([1])"
                    >
                      <ng-template matStepLabel
                        ><span
                          [class]="
                            this.storageService.getTheme()() === 'dark'
                              ? 'text-light'
                              : ''
                          "
                          >Basic Information</span
                        ></ng-template
                      >
                      <div class="container-fluid">
                        <div class="row">
                          <div
                            class="col-md-3 mt-1 form-labe form-label"
                            for="formFile"
                          >
                            Header image
                          </div>
                          <div class="col-md-8">
                            <input
                              class="form-control"
                              type="file"
                              formControlName="headerImage"
                              accept="image/*"
                              aria-describedby="fileHelpBlock"
                              (change)="headerImageHandler($event)"
                            />
                            <div id="fileHelpBlock" class="form-text">
                              <span class="small-text mx-2">
                                Acceptable image file ({{
                                  this.commonUtility._imageMimeTypes
                                }}). <br
                              /></span>
                              <span class="small-text mx-2">
                                Header image width should be between
                                {{
                                  this.commonUtility
                                    ._advertisementHeaderMinMaxWidthHeightPixel[0][0]
                                }}
                                -
                                {{
                                  this.commonUtility
                                    ._advertisementHeaderMinMaxWidthHeightPixel[0][1]
                                }}
                                pixels. Header image height should be between
                                {{
                                  this.commonUtility
                                    ._advertisementHeaderMinMaxWidthHeightPixel[1][0]
                                }}
                                -
                                {{
                                  this.commonUtility
                                    ._advertisementHeaderMinMaxWidthHeightPixel[1][1]
                                }}
                                pixels. <br />
                              </span>
                              <span class="small-text mx-2">
                                Maximum file size of
                                {{
                                  utilityService.convertBytesToKbOrMb(
                                    this.commonUtility
                                      ._advertisementHeaderMaxSize
                                  )
                                }}
                                .</span
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="this.headerImageFile">
                          <div class="col-md-3"></div>
                          <div class="col-md-8">
                            <div class="file-item my-2">
                              <table
                                class="table table-bordered table-responsive align-middle"
                              >
                                <thead>
                                  <tr>
                                    <th>File name</th>
                                    <th>File type</th>
                                    <th>File size</th>
                                    <th>Dimensions</th>

                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{ headerImageFile?.name }}</td>
                                    <td>{{ headerImageFile?.type }}</td>
                                    <td>
                                      {{
                                        utilityService.convertBytesToKbOrMb(
                                          headerImageFile?.size
                                        )
                                      }}
                                    </td>
                                    <td>
                                      {{
                                        headerImageFile.width +
                                          ' X ' +
                                          headerImageFile.height
                                      }}
                                    </td>
                                    <td>
                                      <button
                                        class="btn btn-danger"
                                        (click)="deleteHeaderImage()"
                                      >
                                        Delete
                                      </button>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="5" style="text-align: center">
                                      <img
                                        [src]="this.advertisement?.headerImage"
                                        style="
                                          max-width: 800px;
                                          max-height: 400px;
                                        "
                                      />
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">Title</div>
                          <div class="col-md-8">
                            <input
                              class="form-control"
                              placeholder="Enter title..."
                              formControlName="title"
                              [(ngModel)]="advertisement.title"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 alert alert-info">
                            <section>
                              <h2>Project Scope</h2>
                              <ul>
                                <li>Define the scope of work in detail.</li>
                                <li>
                                  Specify the types of construction services
                                  required.
                                </li>
                                <li>
                                  Outline any specific materials, methods, or
                                  technologies to be used.
                                </li>
                              </ul>
                            </section>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-2">Description/Scope</div>
                          <div class="col-md-8">
                            <quill-editor
                              class="quill-editor"
                              [(ngModel)]="advertisement.description"
                              formControlName="description"
                            ></quill-editor>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 alert alert-info">
                            <section>
                              <h2>Qualification Requirements</h2>
                              <ul>
                                <li>
                                  Clearly state the qualifications required for
                                  contractors.
                                </li>
                                <li>
                                  Include information on licensing, bonding,
                                  insurance, and relevant certifications.
                                </li>
                                <li>
                                  Specify the minimum experience and track
                                  record needed.
                                </li>
                              </ul>
                            </section>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-2">
                            Contractor's Qualifications Requirements
                          </div>
                          <div class="col-md-8">
                            <quill-editor
                              class="quill-editor"
                              [(ngModel)]="
                                advertisement.contractorQualifications
                              "
                              formControlName="contractorQualifications"
                            ></quill-editor>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 alert alert-info">
                            <section>
                              <h2>Insurance and Liability</h2>
                              <ul>
                                <li>
                                  Clearly outline insurance requirements for
                                  contractors.
                                </li>
                                <li>
                                  Specify liability limits and coverage types.
                                </li>
                              </ul>
                            </section>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-2">
                            Insurance Requirements
                          </div>
                          <div class="col-md-8">
                            <quill-editor
                              class="quill-editor"
                              [(ngModel)]="advertisement.insuranceRequirements"
                              formControlName="insuranceRequirements"
                            ></quill-editor>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 alert alert-info">
                            <section>
                              <h2>Timeline and Milestones</h2>
                              <ul>
                                <li>
                                  Clearly outline the project timeline,
                                  including key milestones.
                                </li>
                                <li>
                                  Specify the start and end dates of the
                                  project.
                                </li>
                                <li>
                                  Include any critical dates or deadlines.
                                </li>
                              </ul>
                            </section>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-3 mt-2">
                            Timeline and Milestones
                          </div>
                          <div class="col-md-8">
                            <quill-editor
                              class="quill-editor"
                              [(ngModel)]="advertisement.milestones"
                              formControlName="milestones"
                            ></quill-editor>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12 alert alert-info">
                            <section>
                              <h2>Budget Information</h2>
                              <ul>
                                <li>
                                  Provide a budget range or estimate for the
                                  project.
                                </li>
                                <li>
                                  Clearly outline any budgetary constraints.
                                </li>
                                <li>
                                  Indicate whether alternative proposals will be
                                  considered.
                                </li>
                              </ul>
                            </section>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-3 mt-2">Budget Information</div>
                          <div class="col-md-8">
                            <quill-editor
                              class="quill-editor"
                              [(ngModel)]="advertisement.budgetInformation"
                              formControlName="budgetInformation"
                            ></quill-editor>
                          </div>
                        </div>
                      </div>

                      <div class="mt-5">
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-1"
                          id="stepTwoBack"
                          (click)="goForward(stepper, 0)"
                        >
                          Next
                        </button>
                      </div>
                    </mat-step>
                    <mat-step
                      linear
                      [optional]="false"
                      formGroupName="2"
                      [stepControl]="formArray?.get([2])"
                    >
                      <ng-template matStepLabel
                        ><span
                          [class]="
                            this.storageService.getTheme()() === 'dark'
                              ? 'text-light'
                              : ''
                          "
                          >Display Sections</span
                        ></ng-template
                      >
                      <div class="container-fluid border border-black p-4">
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">
                            Show Picture
                          </div>
                          <div class="col-md-8">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="showPicture"
                              [(ngModel)]="advertisement.showPicture"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">
                            Show My Phone
                          </div>
                          <div class="col-md-8">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="showPhone"
                              [(ngModel)]="advertisement.showPhone"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">
                            Show Address
                          </div>
                          <div class="col-md-8">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="showAddress"
                              [(ngModel)]="advertisement.showAddress"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">Show Email</div>
                          <div class="col-md-8">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="showEmail"
                              [(ngModel)]="advertisement.showEmail"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">
                            Turnkey Project
                          </div>
                          <div class="col-md-8">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="isTurnkey"
                              [(ngModel)]="advertisement.isTurnkey"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="mt-5">
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-1"
                          matStepperPrevious
                          id="stepTwoBack"
                        >
                          Back
                        </button>
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-1"
                          matStepperNext
                          id="stepTwoNext"
                        >
                          Next
                        </button>
                      </div>
                    </mat-step>
                    <mat-step
                      linear
                      [optional]="false"
                      formGroupName="3"
                      [stepControl]="formArray?.get([3])"
                    >
                      <ng-template matStepLabel
                        ><span
                          [class]="
                            this.storageService.getTheme()() === 'dark'
                              ? 'text-light'
                              : ''
                          "
                          >Slider Images</span
                        ></ng-template
                      >
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col">
                            <h5>Slider Images</h5>
                            <div id="fileHelpBlock" class="form-text">
                              <span class="small-text mx-2">
                                You can upload up to
                                {{ maxAdvertisementSliderImage }} images
                              </span>
                              <br />

                              <span class="small-text mx-2">
                                Acceptable image file ({{
                                  this.commonUtility._imageMimeTypes
                                }}). <br
                              /></span>
                              <span class="small-text mx-2">
                                Slider image width should be between
                                {{
                                  this.commonUtility
                                    ._sliderPhotoMinMaxWidthHeightPixel[0][0]
                                }}
                                -
                                {{
                                  this.commonUtility
                                    ._sliderPhotoMinMaxWidthHeightPixel[0][1]
                                }}

                                Height should be between
                                {{
                                  this.commonUtility
                                    ._sliderPhotoMinMaxWidthHeightPixel[1][0]
                                }}
                                -
                                {{
                                  this.commonUtility
                                    ._sliderPhotoMinMaxWidthHeightPixel[1][1]
                                }}. <br />
                              </span>
                              <span class="small-text mx-2">
                                Maximum file size of
                                {{
                                  utilityService.convertBytesToKbOrMb(
                                    this.commonUtility._sliderPhotoMaxSize
                                  )
                                }}
                                .</span
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <ngx-dropzone
                              [multiple]="true"
                              (change)="onFilesAdded($event)"
                              accept="image/*"
                            >
                              <p>Drag and drop files here</p>
                            </ngx-dropzone>

                            <div class="file-item my-2">
                              <table
                                class="table table-bordered table-responsive align-middle"
                              >
                                <thead>
                                  <tr>
                                    <th>File name</th>
                                    <th>File type</th>
                                    <th>File size</th>
                                    <th>Dimensions</th>

                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <ng-container
                                    *ngFor="
                                      let file of this.advertisement
                                        ?.sliderImageFiles;
                                      let i = index
                                    "
                                  >
                                    <tr>
                                      <td>{{ file?.name }}</td>
                                      <td>{{ file?.type }}</td>
                                      <td>
                                        {{
                                          utilityService.convertBytesToKbOrMb(
                                            file.size
                                          )
                                        }}
                                      </td>
                                      <td>
                                        {{ file.width + ' X ' + file.height }}
                                      </td>
                                      <td>
                                        <button
                                          class="btn btn-danger"
                                          (click)="onFileDeleted(i)"
                                        >
                                          Delete
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td
                                        colspan="5"
                                        style="text-align: center"
                                      >
                                        <img
                                          [src]="getObjectURL(file)"
                                          style="
                                            max-width: 800px;
                                            max-height: 400px;
                                          "
                                        />
                                      </td>
                                    </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="mt-5">
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-1"
                          matStepperPrevious
                          id="stepTwoBack"
                        >
                          Back
                        </button>
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-4"
                          (click)="submit()"
                        >
                          Submit
                        </button>
                      </div>
                    </mat-step>
                  </mat-horizontal-stepper>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col border-border-1 my-2">
                <h4>Preview</h4>
                <app-preview-rfp
                  [advertisement]="advertisement"
                ></app-preview-rfp>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
