<div class="container-fluid my-3">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title text-center align-center border-bottom">
            <span class="col-12"> Price Plans</span>
          </h2>

          <div class="container pt-2">
            <div class="p-4 p-sm-5">
              <div class="text-center px-0 px-sm-5">
                <h2>Premium features on all plans.</h2>
                <p class="m-0 px-0 px-md-5">
                  We've always worked very hard to give our customers the best
                  experience in dealing with their client's services.
                </p>
                Try our 15 days commitment free account, no credit card
                required.
                <p></p>
              </div>
              <div class="mt-3 text-center">
                <a
                  class="btn btn-success mb-sm-2"
                  [routerLink]="'/signup'"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Sign up for free</a
                >
                <a
                  class="btn btn-primary mb-sm-2 mx-3"
                  [routerLink]="'/signup'"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Purchase a plan</a
                >
              </div>
            </div>
          </div>

          <div class="container-fluid border rounded p-4">
            <div class="row row-cols-1">
              <div class="col-8 font-weight-bold border-bottom"></div>
            </div>
            <div class="row row-cols-3 my-2">
              <div class="col" *ngFor="let plan of listPlans">
                <app-plan [plan]="plan"></app-plan>
                <div>
                  <!-- <button (click)="processPlan(this.plan, stepper)">Select Plan</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
