<section class="pt-lg-3" id="plans">
  <h2 class="d-block bg-gradient text-light text-center px-3 mb-5">
    Pricing plans
  </h2>
  <div class="container pt-2">
    <div class="p-4 p-sm-5">
      <div class="text-center px-0 px-sm-5">
        <h2>Premium features on all plans.</h2>
        <p class="m-0 px-0 px-md-5">
          We've always worked very hard to give our customers the best
          experience in dealing with their client's services.
        </p>
      </div>
      <div class="mt-3 text-center">
        <a
          class="btn btn-success"
          [routerLink]="'plans'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="fa fa-arrow-right"></i>View our price plans</a
        >
        <a
          class="btn btn-primary mx-3"
          [routerLink]="'/signup'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="fa fa-arrow-right"></i>Sign up for free</a
        >
      </div>
    </div>
  </div>
</section>
