<section>
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><a href="#services">Our Services</a></li>
          <li class="list-group-item"><a href="#platform">Our Platform</a></li>
          <li class="list-group-item">
            <a href="#ads">Browse Advertisements Categories</a>
          </li>
          <li class="list-group-item"><a href="#rfps">Browse RFPs</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
</section>

<section>
  <div class="container border rounded p-3 mt-5">
    <div class="row">
      <div class="col" add_alert alert-success>
        <h2>
          Welcome to our innovative platform, your one-stop destination for all
          things construction-related!
        </h2>
        <p>
          At our site, users can easily register for free without any commitment
          or credit card requirements, unlocking a world of opportunities for
          services and material sales. For those seeking enhanced features,
          premium plans are available, allowing users to kickstart their
          advertising journey seamlessly.
        </p>

        <p>
          Explore our vast collection of relevant ads tailored to the
          construction industry, providing users with a comprehensive view of
          available services and materials. The user experience is elevated with
          a cutting-edge dashboard, offering intuitive controls to manage
          advertisements, profiles, and more.
        </p>

        <p>
          Experience the convenience of creating and submitting Requests for
          Proposals (RFPs) directly through our platform, streamlining the
          process of finding the perfect construction services for your
          projects. Rest assured, our system prioritizes security, utilizing
          state-of-the-art encryption technology to safeguard user data.
          Importantly, we prioritize user privacy by never storing credit card
          information; all transactions are securely processed through the
          trusted platform, stripe.com.
        </p>
        <p>
          Join us on our platform and embark on a journey where efficiency,
          security, and a vast network of construction-related opportunities
          converge, empowering you to take your projects to new heights!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"><h2 class="text-center">Our Services</h2></div>
      <hr />
    </div>
    <div class="row" id="services">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <div class="card" aria-hidden="true">
              <i class="bi bi-moon-stars card-title text-center h2 mt-2"> </i>
              <h4 class="text-center">Construction Services</h4>

              <div class="card-body">
                Discover a marketplace dedicated to construction services,
                featuring plumbing, electrical, and more. Advertise your
                services or find the right professionals through our extensive
                collection of construction service ads, connecting you with the
                expertise needed to bring your projects to life.
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card bg-info" aria-hidden="true">
              <i class="bi bi-gem card-title text-center h2 mt-2"></i>
              <h4 class="text-center">Construction Material Sales</h4>
              <div class="card-body">
                Streamline your material procurement process with our platform's
                dedicated construction material sales section. Whether you're
                buying or selling, explore a vast array of construction
                materials, creating a seamless marketplace for suppliers and
                buyers within the construction industry.
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" aria-hidden="true">
              <i class="bi bi-award card-title text-center h2 mt-2"></i>
              <h4 class="text-center">RFP Creation and Submission</h4>
              <div class="card-body">
                Simplify the process of finding the perfect construction
                services by utilizing our Request for Proposals (RFP) feature.
                Create and submit RFPs effortlessly, connecting with qualified
                professionals and ensuring that your construction projects are
                matched with the right expertise and services.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3" id="platform">
      <div class="col-12"><h2 class="text-center">Our Platform</h2></div>
      <hr />
    </div>
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <div class="card bg-info" aria-hidden="true">
              <i class="bi bi-moon-stars card-title text-center h2 mt-2"> </i>
              <h4 class="text-center">Security and Encryption</h4>

              <div class="card-body">
                <ul>
                  <li>
                    Security and Encryption: Our platform prioritizes the
                    security of user data through advanced encryption
                    technologies, ensuring a safe and protected environment for
                    all transactions and interactions.
                  </li>
                  <li>
                    Leveraging Latest Technologies: Stay at the forefront of
                    innovation with our system, incorporating the latest
                    technologies to enhance user experience, streamline
                    processes, and provide cutting-edge features.
                  </li>
                  <li>
                    Availability and Scalability: Our system is designed for
                    high availability, ensuring users can access the platform
                    whenever they need. Additionally, it's built with
                    scalability in mind, adapting to growing user demands
                    without compromising performance.
                  </li>
                </ul>
                <br />
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" aria-hidden="true">
              <i class="bi bi-gem card-title text-center h2 mt-2"></i>
              <h4 class="text-center">Response & User-Friendly</h4>
              <div class="card-body">
                <ul>
                  <li>
                    User-Friendly Interface: Enjoy a seamless experience with
                    our user-friendly interface, designed to be intuitive and
                    easy to navigate. Users can effortlessly manage all aspects
                    of their advertisements, profiles, and RFPs with just a few
                    clicks.
                  </li>
                  <li>
                    Responsiveness: Access your dashboard from any device, as
                    our platform is responsive to various screen sizes. Whether
                    you're on a desktop, tablet, or smartphone, the system
                    adapts to provide a consistent and user-friendly experience.
                  </li>
                  <li>
                    Issue Escalation Online: Resolve concerns efficiently with
                    our online issue escalation feature, empowering users to
                    address and escalate matters directly through the platform
                    for swift resolution.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card bg-info" aria-hidden="true">
              <i class="bi bi-award card-title text-center h2 mt-2"></i>
              <h4 class="text-center">Extensive Advertisement Features</h4>
              <div class="card-body">
                <ul>
                  <li>
                    advertisements within the construction industry, offering
                    users an extensive selection of services, materials, and
                    opportunities.
                  </li>
                  <li>
                    Advanced Search and Filtering: Easily find what you need
                    with our advanced search and filtering features. Narrow down
                    your search based on specific criteria, ensuring that you
                    discover the most relevant advertisements tailored to your
                    requirements.
                  </li>
                  <li>
                    Additional Advanced Features: Benefit from a range of
                    advanced features designed to enhance your browsing
                    experience, providing detailed information, user ratings,
                    and other valuable insights to aid in your decision-making
                    process.
                  </li>
                </ul>
                <br />
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class=" " id="plans">
  <h2 class="d-block bg-gradient text-light text-center px-3 mb-5">
    Pricing plans
  </h2>
  <div class="container pt-2">
    <div class=" ">
      <div class="text-center px-0 px-sm-5">
        <h2>Premium features on all plans.</h2>
        <p class="m-0 px-0 px-md-5">
          We've always worked very hard to give our customers the best
          experience in dealing with their client's services.
        </p>
      </div>
      <div class="mt-3 text-center">
        <a
          class="btn btn-success"
          [routerLink]="'plans'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="fa fa-arrow-right"></i>View our price plans</a
        >
        <a
          class="btn btn-primary mx-3"
          [routerLink]="'/signup'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="fa fa-arrow-right"></i>Sign up for free</a
        >
      </div>
    </div>
  </div>
</section>

<Section id="ads">
  <div class="container my-2 p-3 border rounded">
    <div class="row">
      <div class="col alert alert-info">
        <h2>Browse advertisements by selecting a category</h2>
        <p>
          "Welcome to our dedicated construction sales and services platform!
          Explore a vast array of relevant advertisements in our categorized
          sections. Utilize our powerful search filters to pinpoint the perfect
          ad for your needs. Make informed decisions by viewing user ratings,
          ensuring you choose the right service or product. Your satisfaction is
          our priority, and with our extensive selection, finding the ideal
          construction solution has never been easier. Happy browsing!
        </p>
      </div>
    </div>
    <div class="row row-cols-4">
      <div class="col">
        <div class="card text-bg-dark">
          <img
            src="../../../assets/images/new-home-1540875_1280.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title bg-primary">Residential Construction</h5>
            <p class="card-text">This is a wider card with</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary stretched-link text-center"
              >Browse Ads</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <img
            src="../../../assets/images/housing-1647624_1280.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title bg-primary">Commercial Construction</h5>
            <p class="card-text">This is a wider card with</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary stretched-link">Browse Ads</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <img
            src="../../../assets/images/floor-plan-1857175_1280.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title bg-primary">Construction Planning</h5>
            <p class="card-text">This is a wider card with</p>
            <p class="card-text text-center">
              <small>Last updated 3 mins ago</small>
            </p>
            <a href="#" class="btn btn-primary stretched-link">Browse Ads</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <img
            src="../../../assets/images/construction-worker-569149_1280.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title bg-primary">Construction Workers</h5>
            <p class="card-text">This is a wider card with</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary stretched-link">Browse Ads</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <img
            src="../../../assets/images/electric-4198293_1280.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title bg-primary">Electricians</h5>
            <p class="card-text">This is a wider card with</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary stretched-link">Browse Ads</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <img
            src="../../../assets/images/water-2825771_1280.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title bg-primary">Plumbing</h5>
            <p class="card-text">This is a wider card with</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary stretched-link">Browse Ads</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>
<Section id="rfps">
  <div class="container my-2 p-3 border rounded">
    <div class="row">
      <div class="col alert alert-info">
        <h2>Browse RFPs by selecting a category</h2>
        <p>
          Unlock new opportunities for your construction projects! Submit
          Request for Proposals (RFPs) to receive tailored construction proposal
          ads. Join our platform by registering and gain access to a network of
          qualified service providers. Let your project stand out by connecting
          with experienced professionals who can meet your specific needs. Your
          journey to successful construction projects starts here – register now
          and submit your RFPs to bring your vision to life!
        </p>
        <section>
          <div class="container">
            <div class="">
              <div class="text-center px-0 px-sm-5">
                <h2>Premium features on all plans.</h2>
                <p class="m-0 px-0 px-md-5">
                  We've always worked very hard to give our customers the best
                  experience in dealing with their client's services.
                </p>
              </div>
              <div class="mt-3 text-center">
                <a
                  class="btn btn-success"
                  [routerLink]="'plans'"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  ><i class="fa fa-arrow-right"></i>View our price plans</a
                >
                <a
                  class="btn btn-primary mx-3"
                  [routerLink]="'/signup'"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  ><i class="fa fa-arrow-right"></i>Sign up for free</a
                >
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row row-cols-4">
      <div class="col">
        <div class="card text-bg-dark">
          <img
            src="../../../assets/images/floor-plan-1857175_1280.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title bg-primary">Construction Planning</h5>
            <p class="card-text">This is a wider card with</p>
            <p class="card-text text-center">
              <small>Last updated 3 mins ago</small>
            </p>
            <a href="#" class="btn btn-primary stretched-link">Browse Ads</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <img
            src="../../../assets/images/construction-worker-569149_1280.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title bg-primary">Construction Workers</h5>
            <p class="card-text">This is a wider card with</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary stretched-link">Browse Ads</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <img
            src="../../../assets/images/electric-4198293_1280.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title bg-primary">Electricians</h5>
            <p class="card-text">This is a wider card with</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary stretched-link">Browse Ads</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <img
            src="../../../assets/images/water-2825771_1280.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title bg-primary">Plumbing</h5>
            <p class="card-text">This is a wider card with</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary stretched-link">Browse Ads</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>
