<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-6">Messages</span>
          </h2>
          <hr />
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <mat-form-field
                  class="col-4"
                  appearance="outline"
                  [ngStyle]="
                    this.storageService.getTheme()() === 'dark'
                      ? { 'background-color': 'dark' }
                      : { 'background-color': 'light' }
                  "
                >
                  <mat-label
                    [class]="
                      this.storageService.getTheme()() === 'dark'
                        ? 'text-light'
                        : ''
                    "
                    >Filter</mat-label
                  >
                  <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Ex. Mia"
                    #input
                    [class]="
                      this.storageService.getTheme()() === 'dark'
                        ? 'text-light'
                        : ''
                    "
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mat-elevation-z8 table-responsive">
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    matSort
                    [class]="
                      this.storageService.getTheme()() === 'dark'
                        ? 'table table-dark table-striped'
                        : 'table table-light table-striped'
                    "
                  >
                    <ng-container matColumnDef="messageId">
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matHeaderCellDef
                        mat-sort-header
                      >
                        View Message
                      </th>
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matCellDef="let row"
                      >
                        <a
                          type="button"
                          class="btn btn-outline-secondary"
                          [routerLink]="[
                            '/general/message-details',
                            row?.messageId
                          ]"
                          routerLinkActive="router-link-active"
                        >
                          View Message
                        </a>
                      </th>
                    </ng-container>
                    <ng-container matColumnDef="advertisementId">
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matHeaderCellDef
                        mat-sort-header
                      >
                        Advertisement
                      </th>
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matCellDef="let row"
                      >
                        <a
                          type="button"
                          class="btn btn-outline-secondary"
                          [routerLink]="[
                            '/view-advertisement-details',
                            row?.advertisementId
                          ]"
                          routerLinkActive="router-link-active"
                        >
                          View Advertisement
                        </a>
                      </th>
                    </ng-container>
                    <ng-container matColumnDef="message">
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matHeaderCellDef
                        mat-sort-header
                      >
                        Message
                      </th>
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matCellDef="let row"
                      >
                        {{ row?.message?.substring(0, 60) }}
                        {{ row?.message?.length > 60 ? '...' : '' }}
                      </th>
                    </ng-container>

                    <ng-container matColumnDef="dateCreated">
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matHeaderCellDef
                        mat-sort-header
                      >
                        Date
                      </th>
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matCellDef="let row"
                      >
                        {{ row.dateCreated | date : 'medium' }}
                      </th>
                    </ng-container>
                    <ng-container matColumnDef="viewed">
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matHeaderCellDef
                        mat-sort-header
                      >
                        Viewed
                      </th>
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matCellDef="let row"
                      >
                        <div
                          *ngIf="
                            row.viewed === 1;
                            then yesSection;
                            else noSection
                          "
                        ></div>
                        <ng-template #yesSection>
                          <mat-icon>check_box</mat-icon></ng-template
                        >
                        <ng-template #noSection>
                          <mat-icon>close</mat-icon></ng-template
                        >
                      </th>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matHeaderCellDef
                        mat-sort-header
                      >
                        Action
                      </th>
                      <th
                        mat-header-cell
                        [class]="
                          this.storageService.getTheme()() === 'dark'
                            ? 'bg-dark text-light'
                            : 'bg-light'
                        "
                        *matCellDef="let row"
                      >
                        <mat-icon
                          class="mat-18"
                          matTooltip="Delete message"
                          matTooltipPosition="above"
                          class="pointer"
                          (click)="deleteMessage(row.messageId)"
                          >delete</mat-icon
                        >
                        <mat-icon
                          class="mat-18"
                          matTooltip="view message"
                          matTooltipPosition="above"
                          class="pointer"
                          (click)="viewMessage(row.messageId)"
                          >info</mat-icon
                        >
                      </th>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      ngClass="{{
                        row.viewed === 1 ? 'bg-inactive' : 'bg-light'
                      }}"
                    ></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="22">
                        No data matching the filter "{{ input.value }}"
                      </td>
                    </tr>
                  </table>

                  <mat-paginator
                    [pageSizeOptions]="[20, 50, 100]"
                    aria-label="Select page of users"
                  ></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
