<div class="container-fluid my-3">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-6">User Average Rating Details </span>
          </h2>
          <hr />
          <div class="container-fluid">
            <div class="row row-cols-1">
              <div class="col">
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item">
                    <i class="bi bi-hand-index">
                      <span class="mx-2">Customer Satisfaction </span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_overall_rating"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_overall_rating,
                          'average_overall_rating'
                        )
                      "
                    ></rating>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-hand-index"
                      ><span class="mx-2">Cleanliness</span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_cleanliness"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_cleanliness,
                          'average_cleanliness'
                        )
                      "
                    ></rating>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-hand-index"
                      ><span class="mx-2">Communication</span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_communicationSkills"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_communicationSkills,
                          'average_communicationSkills'
                        )
                      "
                    ></rating>
                  </li>
                </ul>
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item">
                    <i class="bi bi-hand-index"
                      ><span class="mx-2">Cost management</span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_costManagement"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_costManagement,
                          'average_costManagement'
                        )
                      "
                    ></rating>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-hand-index"
                      ><span class="mx-2">Flexibility</span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_flexibility"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_flexibility,
                          'average_flexibility'
                        )
                      "
                    ></rating>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-hand-index"
                      ><span class="mx-2">Materials & Equipments </span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_materialsAndEquipment"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_materialsAndEquipment,
                          'average_materialsAndEquipment'
                        )
                      "
                    ></rating>
                  </li>
                </ul>
                <ul class="list-group list-group-horizontal-sm">
                  <li class="list-group-item">
                    <i class="bi bi-hand-index"
                      ><span class="mx-2">Performance</span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_performance"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_performance,
                          'average_performance'
                        )
                      "
                    ></rating>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-hand-index"
                      ><span class="mx-2">Professionalism</span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_professionalism"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_professionalism,
                          'average_professionalism'
                        )
                      "
                    ></rating>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-hand-index"
                      ><span class="mx-2">Quality</span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_qualityOfWork"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_qualityOfWork,
                          'average_qualityOfWork'
                        )
                      "
                    ></rating>
                  </li>
                </ul>
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item">
                    <i class="bi bi-hand-index"
                      ><span class="mx-2">Safety</span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_safety"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_safety,
                          'average_safety'
                        )
                      "
                    ></rating>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-hand-index"
                      ><span class="mx-2">Timeliness</span></i
                    >
                    <rating
                      [(ngModel)]="userRating.average_timeliness"
                      [max]="max"
                      [readonly]="false"
                      (click)="
                        updateUserOverallRating(
                          userRating.average_timeliness,
                          'average_timeliness'
                        )
                      "
                    ></rating>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row border rounded p-2">
              <form [formGroup]="feedbackForm">
                <div class="col">
                  <h5 class=" ">Provide Your Feedback</h5>
                  <p class="font-sm">
                    We are committed to continually improving our services to
                    better meet your needs. Your feedback is invaluable to us.
                    Whether you have a suggestion for improvement, encountered
                    an issue, or simply want to share your positive experience,
                    we would love to hear from you. Your insights will help us
                    enhance our services and ensure that we're providing the
                    best possible experience for you and all our users.
                  </p>
                  <div class="alert alert-warning" role="alert">
                    Please feel free to express your thoughts openly, and we
                    kindly ask that you refrain from using any inappropriate
                    language. We believe in fostering a positive and respectful
                    community.
                  </div>

                  <app-form-errors [formErrors]="formErrors"></app-form-errors>
                  <textarea
                    class="form-control"
                    placeholder="Enter feedback"
                    [(ngModel)]="feedback"
                    maxlength="400"
                    formControlName="feedback"
                    rows="5"
                    minlength="2"
                    maxlength="1000"
                  ></textarea>
                  {{ feedback?.length }}/1000
                  <br />
                  <button
                    type="button"
                    class="btn btn-outline-secondary my-1 text-center"
                    (click)="sendFeedback()"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-6">Feedbacks </span>
          </h2>
          <hr />
          <div class="container-fluid">
            <div class="row" *ngFor="let item of ratings?.details; index as i">
              <div class="col">
                <div
                  class="alert"
                  [ngClass]="{
                    'alert-primary': i % 6 === 0,
                    'alert-info': i % 6 === 1,
                    'alert-secondary': i % 6 === 2,
                    'alert-success': i % 6 === 3,
                    'alert-light': i % 6 === 4,
                    'alert-dark': i % 6 === 5
                  }"
                  role="alert"
                >
                  <p class="h4 text-primary">{{ item?.firstName }}</p>
                  {{ item?.feedback }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
