<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-12">My Favorite Advertisements</span>
          </h2>

          <div class="border border-1 p-2 rounded my-2">
            <ng-container *ngFor="let advertisement of advertisements">
              <div class="container">
                <div class="row">
                  <div class="col-6 border border-1 p-2">
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="deleteAd(advertisement?.userAdvertisementId)"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </div>

              <app-advertisement-view
                [advertisement]="advertisement"
              ></app-advertisement-view
            ></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
