<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-12">New Request for Proposal (RFP)</span>
          </h2>
          <h6>
            You would detail the scope of the project, any specific requirements
            you have, the deadline for project completion, and any other
            pertinent information in the RFP. Contractors would then submit
            proposals detailing how they would meet your requirements and what
            their cost for the project would be. You can then choose the
            contractor you feel offers the best mix of reliability, quality, and
            cost.
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
