<div class="container my-5 border border-1 border-primary p-3 w-50">
  <app-form-errors [formErrors]="formErrors"></app-form-errors>
  <api-server-error *ngIf="serverError" [error]="serverError" />
  <div class="row">
    <div class="col-md-6 col-sm-12 border-end border-1 border-primary">
      <h3 class="mb-3">Create a free account now</h3>
      <form [formGroup]="form">
        <input
          class="form-control"
          placeholder="Enter email..."
          [(ngModel)]="userId"
          maxlength="50"
          minlength="8"
          formControlName="userId"
          [class.error]="form.get('userId')?.invalid"
          type="email"
        />
      </form>
      <button class="submit-button mt-2" (click)="signup()">Sign-up</button>
    </div>
    <div class="col-md-6 col-sm-12">
      <div *ngIf="signedUp; then signed; else notSigned"></div>
      <ng-template #notSigned>
        <h4>
          Sign up for a commitment free account today and unlock limitless
          features!.
        </h4>
        <p class="small mb-0">*30 days, Full feature account, no credit card</p>
      </ng-template>
      <ng-template #signed>
        <h3 class="text-success">Check your email</h3>
        <h4 class="text-success">
          We sent you a message to verify your email address.
        </h4>
        <p>
          Please check your email. Your link will expire in
          {{ signupExpiry }} hour.
        </p>

        <p class="m-0">
          If you don't receive a verification email within 5 minutes, try
          checking your junk mail folder.
        </p>

        <div class="mt-3" *ngIf="signedUp">
          <a class="submit-button" (click)="signup()"
            ><i class="fa fa-arrow-right"></i>resend email</a
          >
        </div>
      </ng-template>
    </div>
  </div>
</div>
