<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="accordion" id="previousPlan">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Guidelines for a Successful Campaign
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse show"
            data-bs-parent="#previousPlan"
          >
            <div class="accordion-body">
              <div class="row">
                <div class="col">
                  <div class="alert alert-warning my-2">
                    <h4 class="alert-heading">
                      <i class="bi bi-info-circle me-1"></i>Your RFP Dashboard:
                      Manage and Maximize Your Impact
                    </h4>

                    <hr />
                    <p>
                      Here, you have a comprehensive overview of all your
                      created RFPs, making it easy to manage, monitor, and
                      optimize your efforts.
                    </p>

                    <p class="fw-bold">Advertisement Details:</p>

                    <ul>
                      <li>RFP Dates</li>
                      <li>Project Scope</li>
                      <li>Project Budget Info.</li>
                      <li>Project Timelines</li>
                      <li>Project Requirements</li>
                      <li>Status: [Active/Inactive]</li>
                      <li>
                        Admin Approval Status: [Approved/Rejected]. If rejected,
                        find the reason provided by the admin.
                      </li>
                    </ul>
                    <p class="fw-bold">Actions You Can Take:</p>
                    <ul>
                      <li>
                        View More Info: Click to delve deeper into the details
                        of each advertisement.
                      </li>

                      <li>
                        Edit RFP: Make updates to keep your content relevant and
                        engaging.
                      </li>
                      <li>
                        Delete RFP: Remove RFPs that are no longer needed.
                      </li>
                      <li>
                        Pause RFP: Temporarily halt your campaign without losing
                        any details.
                      </li>
                    </ul>
                    <p>
                      This centralized dashboard empowers you to make informed
                      decisions about your RFPs' performance and take immediate
                      action to maximize their impact.
                    </p>
                    <p>
                      For any queries or assistance, feel free to reach out to
                      our support team at [support@email.com].
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-12">My Request for Proposal (RFP)</span>
          </h2>
          <div class="border border-1 p-2">
            <a mat-raised-button color="primary" routerLink="/general/new-rfp">
              Create New My Request for Proposal (RFP)
            </a>
          </div>
          <div class="border border-1 pt-3rounded my-2">
            <ng-container
              *ngFor="
                let advertisement of uniqueAdvertisements
                  | slice : (page - 1) * pageSize : page * pageSize
              "
            >
              <div class="container-fluid">
                <div class="row">
                  <div class="col-2 border border-1 pt-3">
                    <h6 class="text-primary">
                      Created Date: {{ advertisement?.dateCreated | date }}
                    </h6>
                  </div>
                  <div class="col-2 border border-1 pt-3">
                    <h6 class="text-primary">
                      RFP Start Date: {{ advertisement?.startDate | date }}
                    </h6>
                  </div>
                  <div class="col-2 border border-1 pt-3">
                    <h6 class="text-primary">
                      RFP End Date: {{ advertisement?.endDate | date }}
                    </h6>
                  </div>
                  <div class="col-2 border border-1 pt-3">
                    <h6 class="text-primary">
                      Project Start Date:
                      {{ advertisement?.projectStartDate | date }}
                    </h6>
                  </div>
                  <ng-container
                    *ngIf="
                      userService.getDaysRemaining(
                        currentDate,
                        advertisement?.endDate
                      ) < 1
                    "
                  >
                    <div class="col-2 border border-1 pt-3 text-primary">
                      <h6>
                        {{
                          userService.getDaysRemaining(
                            currentDate,
                            advertisement?.endDate
                          ) < 1
                            ? 'Expired'
                            : ''
                        }}
                      </h6>
                    </div>
                  </ng-container>

                  <div
                    class="col-2 border border-1 p-2 text-primary pt-3"
                    *ngIf="
                      userService.getDaysRemaining(
                        currentDate,
                        advertisement?.endDate
                      ) >= 1
                    "
                  >
                    <h6 class="">
                      Expires in
                      {{
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.endDate
                        )
                      }}
                      days
                    </h6>
                  </div>
                  <div class="col-2 border border-1 pt-3">
                    <h6 class="text-primary">
                      {{ advertisement?.active === 1 ? 'Active' : 'Paused' }}
                    </h6>
                  </div>
                  <div class="col-2 border border-1 pt-3">
                    <h6 class="text-primary">
                      {{
                        advertisement?.approvedByAdmin === 1
                          ? 'Approved'
                          : 'Pending Approval'
                      }}
                    </h6>
                  </div>
                </div>
                <div class="row ustify-content-md-center">
                  <div class="col border border-1 p-2">
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="activateAd(true, advertisement?.rfpId)"
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.endDate
                        ) >= 1 && advertisement?.active === 0
                      "
                    >
                      Activate
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="activateAd(false, advertisement?.rfpId)"
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.endDate
                        ) >= 1 && advertisement?.active === 1
                      "
                    >
                      Pause
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="deleteAd(advertisement?.rfpId)"
                    >
                      Delete
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      click=""
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.endDate
                        ) >= 1 && advertisement?.active === 1
                      "
                      (click)="editAdvertisement(advertisement?.rfpId)"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="advertisement?.rejected === 1">
                  <div class="col border border-1 pt-3">
                    <h6 class="text-primary">
                      <div class="alert alert-danger" role="alert">
                        This Advertisement has been rejected by Administrator
                        due to
                        {{
                          commonUtility.formatStringWithAnd(
                            advertisement?.rejectedReason
                          )
                        }}
                      </div>
                    </h6>
                  </div>
                </div>
              </div>

              <app-user-rfp-view
                [advertisement]="advertisement"
              ></app-user-rfp-view>
            </ng-container>
            <div class="d-flex justify-content-center">
              <pagination
                [(ngModel)]="page"
                [totalItems]="uniqueAdvertisements?.length"
                [itemsPerPage]="pageSize"
                (pageChanged)="pageChangedTop($event, 'page')"
              ></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
