<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-12">My Request for Proposal (RFP)</span>
          </h2>
          <div class="border border-1 p-2">
            <a mat-raised-button color="primary" routerLink="/general/new-rfp">
              Create New My Request for Proposal (RFP)
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
