/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-page-height {
    height: 100vh;
    min-height: 85%;
  }

  a {
    cursor: pointer;
  }