<div class="container-fluid my-3">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title text-center align-center border-bottom">
            <span class="col-12"> Contact Us</span>
          </h2>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h2>How can we assist you?</h2>
                <p>
                  Customer support is available free of charge. Connection
                  charges can vary when calling from outside the area, abroad or
                  from a mobile phone.
                </p>
                <h3>For all inquiries, questions and concerns</h3>
                <p>
                  Get in touch with us by filling this form to see how we can
                  help you with your questions
                </p>
                General communication For general queries, please email
                help@help.com
              </div>
            </div>
            <hr />
            <div class="row">
              <section class="pt-0">
                <div class="container-fluid">
                  <div class="row justify-content-md-center">
                    <div class="col-md-4 text-center">
                      <h5 class="mb-1">Join us on Chat</h5>
                      <p>
                        If you have technical questions, chat live with
                        developers in our
                        <a href="#">live chat</a>
                      </p>
                    </div>
                    <div class="col-md-4 text-center">
                      <h5 class="mb-1">Follow us on social media</h5>
                      <ul class="list-group list-group-horizontal align-center">
                        <li class="list-group-item">
                          <a class=" " href="#"
                            ><i class="fa fa-facebook"></i
                          ></a>
                        </li>
                        <li class="list-group-item">
                          <a class="" href="#"
                            ><i class="fa fa-instagram"></i
                          ></a>
                        </li>
                        <li class="list-group-item">
                          <a class="" href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-group-item">
                          <a class="" href="#"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li class="list-group-item">
                          <a class="" href="#"
                            ><i class="fa fa-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 text-center">
                      <h5 class="mb-1">General communication</h5>
                      <p>
                        For general queries, including partnership
                        opportunities, please email
                        <a href="#">help@help.com</a>
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
