<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-12">My Advertisements</span>
          </h2>
          <div class="border border-1 p-2 rounded">
            <a
              mat-raised-button
              color="primary"
              routerLink="/general/new-advertisement"
            >
              Create New Advertisement
            </a>
          </div>
          <div class="border border-1 p-2 rounded my-2">
            <ng-container *ngFor="let advertisement of uniqueAdvertisements">
              <div class="container">
                <div class="row">
                  <div class="col-3 border border-1 p-2">
                    <h6 class="text-primary">
                      Purchased Date: {{ advertisement?.dateCreated | date }}
                    </h6>
                    <h6 class="text-primary">
                      Expiry Date: {{ advertisement?.expiryDate | date }}
                    </h6>
                  </div>
                  <div
                    class="col-1 border border-1 pt-3 text-primary"
                    *ngIf="
                      userService.getDaysRemaining(
                        currentDate,
                        advertisement?.expiryDate
                      ) < 1
                    "
                  >
                    <h6>
                      {{
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        ) < 1
                          ? 'Expired'
                          : ''
                      }}
                    </h6>
                  </div>
                  <div
                    class="col-1 border border-1 p-2 text-primary pt-3"
                    *ngIf="
                      userService.getDaysRemaining(
                        currentDate,
                        advertisement?.expiryDate
                      ) >= 1
                    "
                  >
                    <h6 class="">
                      Expires in
                      {{
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        )
                      }}
                      days
                    </h6>
                  </div>
                  <div class="col-1 border border-1 pt-3">
                    <h6 class="text-primary">
                      {{ advertisement?.active === 1 ? 'Active' : 'Paused' }}
                    </h6>
                  </div>
                  <div class="col-1 border border-1 pt-3">
                    <h6 class="text-primary">
                      {{
                        advertisement?.approvedByAdmin === 1
                          ? 'Approved'
                          : 'Pending Approval'
                      }}
                    </h6>
                  </div>
                  <div class="col-6 border border-1 p-2">
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="
                        activateAd(true, advertisement?.userAdvertisementId)
                      "
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        ) >= 1 && advertisement?.active === 0
                      "
                    >
                      Activate
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="
                        activateAd(false, advertisement?.userAdvertisementId)
                      "
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        ) >= 1 && advertisement?.active === 1
                      "
                    >
                      Pause
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="deleteAd(advertisement?.userAdvertisementId)"
                    >
                      Delete
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      click=""
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        ) >= 1 && advertisement?.active === 1
                      "
                      (click)="
                        editAdvertisement(advertisement?.userAdvertisementId)
                      "
                    >
                      Edit
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="repostAdvertisement(advertisement)"
                      *ngIf="
                        advertisement?.active === 1 &&
                        advertisement?.approvedByAdmin === 1
                      "
                    >
                      Re-post
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="
                        navigatePromoteAd(advertisement.userAdvertisementId)
                      "
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        ) >= 1 &&
                        advertisement?.active === 1 &&
                        advertisement?.topAdvertisement === 0
                      "
                    >
                      Promote Ad (TOP)
                    </button>
                  </div>
                </div>
              </div>

              <app-user-advertisement-view
                [advertisement]="advertisement"
              ></app-user-advertisement-view
            ></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
