<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="accordion" id="previousPlan">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Guidelines for a Successful Campaign
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse show"
            data-bs-parent="#previousPlan"
          >
            <div class="accordion-body">
              <div class="row">
                <div class="col">
                  <div class="alert alert-warning my-2">
                    <h4 class="alert-heading">
                      <i class="bi bi-info-circle me-1"></i>Your Advertisements
                      Dashboard: Manage and Maximize Your Impact
                    </h4>

                    <hr />
                    <p>
                      Here, you have a comprehensive overview of all your
                      created advertisements, making it easy to manage, monitor,
                      and optimize your promotional efforts.
                    </p>

                    <p class="fw-bold">Advertisement Details:</p>

                    <ul>
                      <li>Purchase Date</li>
                      <li>Expiry Date</li>
                      <li>Status: [Active/Inactive]</li>
                      <li>
                        Admin Approval Status: [Approved/Rejected]. If rejected,
                        find the reason provided by the admin.
                      </li>
                    </ul>
                    <p class="fw-bold">Actions You Can Take:</p>
                    <ul>
                      <li>
                        View More Info: Click to delve deeper into the details
                        of each advertisement.
                      </li>
                      <li>
                        Repost Ad: Posting the same Ad. agin with just a click.
                      </li>
                      <li>
                        Edit Ad: Make updates to keep your content relevant and
                        engaging.
                      </li>
                      <li>
                        Delete Ad: Remove advertisements that are no longer
                        needed.
                      </li>
                      <li>
                        Pause Ad: Temporarily halt your campaign without losing
                        any details.
                      </li>
                      <li>
                        Promote to Top Ad: Elevate your visibility by promoting
                        your ad to the top.
                      </li>
                    </ul>
                    <p>
                      This centralized dashboard empowers you to make informed
                      decisions about your advertisements' performance and take
                      immediate action to maximize their impact.
                    </p>
                    <p>
                      For any queries or assistance, feel free to reach out to
                      our support team at [support@email.com].
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-12">My Advertisements</span>
          </h2>
          <div class="border border-1 p-2 rounded">
            <a
              mat-raised-button
              color="primary"
              routerLink="/general/new-advertisement"
            >
              Create New Advertisement
            </a>
          </div>
          <div class="border border-1 pt-3rounded my-2">
            <ng-container
              *ngFor="
                let advertisement of uniqueAdvertisements
                  | slice : (page - 1) * pageSize : page * pageSize
              "
            >
              <div class="container-fluid">
                <div class="row">
                  <div class="col-3 border border-1 pt-3">
                    <h6 class="text-primary">
                      Purchased Date: {{ advertisement?.dateCreated | date }}
                    </h6>
                  </div>
                  <div class="col-3 border border-1 pt-3">
                    <h6 class="text-primary">
                      Expiry Date: {{ advertisement?.expiryDate | date }}
                    </h6>
                  </div>
                  <div
                    class="col-2 border border-1 pt-3 text-primary"
                    *ngIf="
                      userService.getDaysRemaining(
                        currentDate,
                        advertisement?.expiryDate
                      ) < 1
                    "
                  >
                    <h6>
                      {{
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        ) < 1
                          ? 'Expired'
                          : ''
                      }}
                    </h6>
                  </div>
                  <div
                    class="col-2 border border-1 p-2 text-primary pt-3"
                    *ngIf="
                      userService.getDaysRemaining(
                        currentDate,
                        advertisement?.expiryDate
                      ) >= 1
                    "
                  >
                    <h6 class="">
                      Expires in
                      {{
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        )
                      }}
                      days
                    </h6>
                  </div>
                  <div class="col-2 border border-1 pt-3">
                    <h6 class="text-primary">
                      {{ advertisement?.active === 1 ? 'Active' : 'Paused' }}
                    </h6>
                  </div>
                  <div class="col-2 border border-1 pt-3">
                    <h6 class="text-primary">
                      {{
                        advertisement?.approvedByAdmin === 1
                          ? 'Approved'
                          : 'Pending Approval'
                      }}
                    </h6>
                  </div>
                </div>
                <div class="row ustify-content-md-center">
                  <div class="col border border-1 p-2">
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="
                        activateAd(true, advertisement?.userAdvertisementId)
                      "
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        ) >= 1 && advertisement?.active === 0
                      "
                    >
                      Activate
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="
                        activateAd(false, advertisement?.userAdvertisementId)
                      "
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        ) >= 1 && advertisement?.active === 1
                      "
                    >
                      Pause
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="deleteAd(advertisement?.userAdvertisementId)"
                    >
                      Delete
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      click=""
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        ) >= 1 && advertisement?.active === 1
                      "
                      (click)="
                        editAdvertisement(advertisement?.userAdvertisementId)
                      "
                    >
                      Edit
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="repostAdvertisement(advertisement)"
                      *ngIf="
                        advertisement?.active === 1 &&
                        advertisement?.approvedByAdmin === 1
                      "
                    >
                      Re-post
                    </button>
                    <button
                      mat-stroked-button
                      color="primary"
                      class="mx-1"
                      (click)="
                        navigatePromoteAd(advertisement.userAdvertisementId)
                      "
                      *ngIf="
                        userService.getDaysRemaining(
                          currentDate,
                          advertisement?.expiryDate
                        ) >= 1 &&
                        advertisement?.active === 1 &&
                        advertisement?.topAdvertisement === 0
                      "
                    >
                      Promote Ad (TOP)
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="advertisement?.rejected === 1">
                  <div class="col border border-1 pt-3">
                    <h6 class="text-primary">
                      <div class="alert alert-danger" role="alert">
                        This Advertisement has been rejected by Administrator
                        due to
                        {{
                          commonUtility.formatStringWithAnd(
                            advertisement?.rejectedReason
                          )
                        }}
                      </div>
                    </h6>
                  </div>
                </div>
              </div>

              <app-user-advertisement-view
                [advertisement]="advertisement"
              ></app-user-advertisement-view>
            </ng-container>
            <div class="d-flex justify-content-center">
              <pagination
                [(ngModel)]="page"
                [totalItems]="uniqueAdvertisements?.length"
                [itemsPerPage]="pageSize"
                (pageChanged)="pageChangedTop($event, 'page')"
              ></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
