<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-12">Edit Advertisement</span>
          </h2>

          <div class="container-fluid my-3 border border-1 p-2">
            <div class="row">
              <div class="col">
                <app-form-errors [formErrors]="formErrors"></app-form-errors>
              </div>
            </div>
            <div class="row p-2">
              <div class="col">
                <form [formGroup]="form">
                  <mat-horizontal-stepper
                    formArrayName="formArray"
                    linear
                    #stepper
                    animationDuration="500"
                    [class]="
                      this.storageService.getTheme()() === 'dark'
                        ? 'bg-dark'
                        : 'bg-light'
                    "
                  >
                    <mat-step
                      linear
                      [optional]="false"
                      formGroupName="0"
                      [stepControl]="formArray?.get([0])"
                    >
                      <ng-template matStepLabel
                        ><span
                          [class]="
                            this.storageService.getTheme()() === 'dark'
                              ? 'text-light'
                              : ''
                          "
                          >Basic Information</span
                        ></ng-template
                      >
                      <div class="container-fluid">
                        <div class="row">
                          <div
                            class="col-md-3 mt-1 form-labe form-label"
                            for="formFile"
                          >
                            Header image
                          </div>
                          <div class="col-md-8">
                            <input
                              class="form-control"
                              type="file"
                              formControlName="headerImage"
                              accept="image/*"
                              aria-describedby="fileHelpBlock"
                              (change)="headerImageHandler($event)"
                            />
                            <div id="fileHelpBlock" class="form-text">
                              <span class="small-text mx-2">
                                Acceptable image file ({{
                                  this.commonUtility._imageMimeTypes
                                }}). <br
                              /></span>
                              <span class="small-text mx-2">
                                Header image width should be between
                                {{
                                  this.commonUtility
                                    ._advertisementHeaderMinMaxWidthHeightPixel[0][0]
                                }}
                                -
                                {{
                                  this.commonUtility
                                    ._advertisementHeaderMinMaxWidthHeightPixel[0][1]
                                }}
                                pixels. Header image height should be between
                                {{
                                  this.commonUtility
                                    ._advertisementHeaderMinMaxWidthHeightPixel[1][0]
                                }}
                                -
                                {{
                                  this.commonUtility
                                    ._advertisementHeaderMinMaxWidthHeightPixel[1][1]
                                }}
                                pixels. <br />
                              </span>
                              <span class="small-text mx-2">
                                Maximum file size of
                                {{
                                  utilityService.convertBytesToKbOrMb(
                                    this.commonUtility
                                      ._advertisementHeaderMaxSize
                                  )
                                }}
                                .</span
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="this.headerImageFile">
                          <div class="col-md-3"></div>
                          <div class="col-md-8">
                            <div class="file-item my-2">
                              <table
                                class="table table-bordered table-responsive align-middle"
                              >
                                <thead>
                                  <tr>
                                    <th>File name</th>
                                    <th>File type</th>
                                    <th>File size</th>
                                    <th>Dimensions</th>

                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{ headerImageFile?.name }}</td>
                                    <td>{{ headerImageFile?.type }}</td>
                                    <td>
                                      {{
                                        utilityService.convertBytesToKbOrMb(
                                          headerImageFile?.size
                                        )
                                      }}
                                    </td>
                                    <td>
                                      {{
                                        headerImageFile.width +
                                          ' X ' +
                                          headerImageFile.height
                                      }}
                                    </td>
                                    <td>
                                      <button (click)="deleteHeaderImage()">
                                        Delete
                                      </button>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="5" style="text-align: center">
                                      <img
                                        [src]="this.advertisement?.headerImage"
                                        style="
                                          max-width: 800px;
                                          max-height: 400px;
                                        "
                                      />
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">Title</div>
                          <div class="col-md-8">
                            <input
                              class="form-control"
                              placeholder="Enter title..."
                              formControlName="title"
                              [(ngModel)]="advertisement.title"
                            />
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-3 mt-2">Description</div>
                          <div class="col-md-8">
                            <textarea
                              class="form-control"
                              placeholder="Enter description"
                              formControlName="description"
                              maxlength="400"
                              rows="5"
                              [(ngModel)]="advertisement.description"
                            ></textarea>
                            <span class="text-danger">
                              {{
                                advertisement.description?.length
                                  ? advertisement.description?.length
                                  : 0
                              }}</span
                            >

                            / 400
                          </div>
                        </div>
                      </div>

                      <div class="mt-5">
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-1"
                          id="stepTwoBack"
                          (click)="goForward(stepper, 0)"
                        >
                          Next
                        </button>
                      </div>
                    </mat-step>
                    <mat-step
                      linear
                      [optional]="false"
                      formGroupName="1"
                      [stepControl]="formArray?.get([1])"
                    >
                      <ng-template matStepLabel
                        ><span
                          [class]="
                            this.storageService.getTheme()() === 'dark'
                              ? 'text-light'
                              : ''
                          "
                          >Display Sections</span
                        ></ng-template
                      >
                      <div class="container-fluid border border-black p-4">
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">
                            Show Picture
                          </div>
                          <div class="col-md-8">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="showPicture"
                              [(ngModel)]="advertisement.showPicture"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">
                            Show My Phone
                          </div>
                          <div class="col-md-8">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="showPhone"
                              [(ngModel)]="advertisement.showPhone"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">
                            Show Address
                          </div>
                          <div class="col-md-8">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="showAddress"
                              [(ngModel)]="advertisement.showAddress"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">Show Chat</div>
                          <div class="col-md-8">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="showChat"
                              [(ngModel)]="advertisement.showChat"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mt-1 form-labe">Show Email</div>
                          <div class="col-md-8">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="showEmail"
                              [(ngModel)]="advertisement.showEmail"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="mt-5">
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-1"
                          matStepperPrevious
                          id="stepTwoBack"
                        >
                          Back
                        </button>
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-1"
                          matStepperNext
                          id="stepTwoNext"
                        >
                          Next
                        </button>
                      </div>
                    </mat-step>
                    <mat-step
                      linear
                      [optional]="false"
                      formGroupName="2"
                      [stepControl]="formArray?.get([2])"
                    >
                      <ng-template matStepLabel
                        ><span
                          [class]="
                            this.storageService.getTheme()() === 'dark'
                              ? 'text-light'
                              : ''
                          "
                          >Slider Images</span
                        ></ng-template
                      >
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col">
                            <h5>Slider Images</h5>
                            <div id="fileHelpBlock" class="form-text">
                              <span class="small-text mx-2">
                                You can upload up to
                                {{ maxAdvertisementSliderImage }} images
                              </span>
                              <br />

                              <span class="small-text mx-2">
                                Acceptable image file ({{
                                  this.commonUtility._imageMimeTypes
                                }}). <br
                              /></span>
                              <span class="small-text mx-2">
                                Slider image width should be between
                                {{
                                  this.commonUtility
                                    ._sliderPhotoMinMaxWidthHeightPixel[0][0]
                                }}
                                -
                                {{
                                  this.commonUtility
                                    ._sliderPhotoMinMaxWidthHeightPixel[0][1]
                                }}

                                Height should be between
                                {{
                                  this.commonUtility
                                    ._sliderPhotoMinMaxWidthHeightPixel[1][0]
                                }}
                                -
                                {{
                                  this.commonUtility
                                    ._sliderPhotoMinMaxWidthHeightPixel[1][1]
                                }}. <br />
                              </span>
                              <span class="small-text mx-2">
                                Maximum file size of
                                {{
                                  utilityService.convertBytesToKbOrMb(
                                    this.commonUtility._sliderPhotoMaxSize
                                  )
                                }}
                                .</span
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <ngx-dropzone
                              [multiple]="true"
                              (change)="onFilesAdded($event)"
                              accept="image/*"
                            >
                              <p>Drag and drop files here</p>
                            </ngx-dropzone>

                            <div class="file-item my-2">
                              <table
                                class="table table-bordered table-responsive align-middle"
                              >
                                <thead>
                                  <tr>
                                    <th>File name</th>
                                    <th>File type</th>
                                    <th>File size</th>
                                    <th>Dimensions</th>

                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <ng-container
                                    *ngFor="
                                      let file of this.advertisement
                                        ?.sliderImageFiles;
                                      let i = index
                                    "
                                  >
                                    <tr>
                                      <td>{{ file?.name }}</td>
                                      <td>{{ file?.type }}</td>
                                      <td>
                                        {{
                                          utilityService.convertBytesToKbOrMb(
                                            file.size
                                          )
                                        }}
                                      </td>
                                      <td>
                                        {{ file.width + ' X ' + file.height }}
                                      </td>
                                      <td>
                                        <button (click)="onFileDeleted(i)">
                                          Delete
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td
                                        colspan="5"
                                        style="text-align: center"
                                      >
                                        <img
                                          [src]="getObjectURL(file)"
                                          style="
                                            max-width: 800px;
                                            max-height: 400px;
                                          "
                                        />
                                      </td>
                                    </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="mt-5">
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-1"
                          matStepperPrevious
                          id="stepTwoBack"
                        >
                          Back
                        </button>
                        <button
                          mat-stroked-button
                          color="primary"
                          class="mx-4"
                          (click)="submit()"
                        >
                          Submit
                        </button>
                      </div>
                    </mat-step>
                  </mat-horizontal-stepper>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col border-border-1 my-2">
                <h4>Preview</h4>
                <app-preview-advertisement
                  [advertisement]="advertisement"
                ></app-preview-advertisement>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
