<div class="container-fluid">
  <div class="row">
    <h2>Current Plan</h2>
    <div class="col-6">
      <ng-container *ngIf="currentPlan">
        <div class="card" aria-hidden="true">
          <div class="card-body">
            <h4 class="card-title text-center">
              {{ this.currentPlan.planName | titlecase }}
            </h4>
            <hr />
            <h5 class="card-title text-center">
              {{ this.currentPlan.planType | titlecase }} /
              <span
                class="text-danger"
                *ngIf="
                  this.currentPlan.originalPrice !==
                  this.currentPlan.priceAfterDiscount
                "
              >
                <del> {{ this.currentPlan.originalPrice | currency }}</del>
              </span>
              <span class="text-danger">
                {{ this.currentPlan.priceAfterDiscount | currency }}
              </span>
            </h5>
            <hr />
            Days Left:
            {{ getDaysRemaining(this.currentPlan?.userPlanExpiryDate) }}
            <span class="text-danger fw-bolder"
              >{{
                getDaysRemaining(this.currentPlan?.userPlanExpiryDate) < 1
                  ? 'Expired'
                  : ''
              }}
            </span>
            <hr />
            <ul class="list-group">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Purchased Date
                <span class="badge bg-primary rounded-pill">
                  {{ this.currentPlan.purchasedDate | date }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Expiry Date
                <span class="badge bg-primary rounded-pill">
                  {{ this.currentPlan.userPlanExpiryDate | date }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Number of Advertisements
                <span class="badge bg-primary rounded-pill">
                  {{ this.currentPlan.numberOfAdvertisements }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Custom Profile Included

                <div
                  *ngIf="
                    this.currentPlan.customProfileIncluded;
                    then yesSection;
                    else noSection
                  "
                ></div>
                <ng-template #yesSection>
                  <span class="badge bg-primary rounded-pill">
                    Yes</span
                  ></ng-template
                >

                <ng-template #noSection>
                  <span class="badge bg-primary rounded-pill">
                    No</span
                  ></ng-template
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                View Construction Bids

                <div
                  *ngIf="
                    this.currentPlan.viewBidsIncluded;
                    then yesSection;
                    else noSection
                  "
                ></div>
                <ng-template #yesSection>
                  <span class="badge bg-primary rounded-pill">
                    Yes</span
                  ></ng-template
                >

                <ng-template #noSection>
                  <span class="badge bg-primary rounded-pill">
                    No</span
                  ></ng-template
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Create Construction Bids

                <div
                  *ngIf="
                    this.currentPlan.createBidsIncluded;
                    then yesSection;
                    else noSection
                  "
                ></div>
                <ng-template #yesSection>
                  <span class="badge bg-primary rounded-pill">
                    <mat-icon>check_box</mat-icon></span
                  ></ng-template
                >

                <ng-template #noSection>
                  <span class="badge bg-primary rounded-pill">
                    <mat-icon>close</mat-icon></span
                  ></ng-template
                >
              </li>

              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                {{ this.currentPlan.planDescription }}
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <hr />
  <h2>Previous Plans</h2>
  <div class="row row-cols-3 gy-3">
    <div class="col" *ngFor="let plan of listPlans">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h4 class="card-title text-center">
            {{ this.plan.planName | titlecase }}
          </h4>
          <hr />
          <h5 class="card-title text-center">
            {{ this.plan.planType | titlecase }} /
            <span
              class="text-danger"
              *ngIf="this.plan.originalPrice !== this.plan.priceAfterDiscount"
            >
              <del> {{ this.plan.originalPrice | currency }}</del>
            </span>
            <span class="text-danger">
              {{ this.plan.priceAfterDiscount | currency }}
            </span>
          </h5>
          <hr />
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Purchased Date
              <span class="badge bg-primary rounded-pill">
                {{ this.plan.purchasedDate | date }}
              </span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Expiry Date
              <span class="badge bg-primary rounded-pill">
                {{ this.plan.userPlanExpiryDate | date }}
              </span>
            </li>

            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Number of Advertisements
              <span class="badge bg-primary rounded-pill">
                {{ this.plan.numberOfAdvertisements }}
              </span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Custom Profile Included

              <div
                *ngIf="
                  this.plan.customProfileIncluded;
                  then yesSection;
                  else noSection
                "
              ></div>
              <ng-template #yesSection>
                <span class="badge bg-primary rounded-pill">
                  Yes</span
                ></ng-template
              >

              <ng-template #noSection>
                <span class="badge bg-primary rounded-pill">
                  No</span
                ></ng-template
              >
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              View Construction Bids

              <div
                *ngIf="
                  this.plan.viewBidsIncluded;
                  then yesSection;
                  else noSection
                "
              ></div>
              <ng-template #yesSection>
                <span class="badge bg-primary rounded-pill">
                  Yes</span
                ></ng-template
              >

              <ng-template #noSection>
                <span class="badge bg-primary rounded-pill">
                  No</span
                ></ng-template
              >
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Create Construction Bids

              <div
                *ngIf="
                  this.plan.createBidsIncluded;
                  then yesSection;
                  else noSection
                "
              ></div>
              <ng-template #yesSection>
                <span class="badge bg-primary rounded-pill">
                  <mat-icon>check_box</mat-icon></span
                ></ng-template
              >

              <ng-template #noSection>
                <span class="badge bg-primary rounded-pill">
                  <mat-icon>close</mat-icon></span
                ></ng-template
              >
            </li>

            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              {{ this.plan.planDescription }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
