<div class="border">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/user-profile']"
      >
        <i class="bi bi-person-fill"><span class="mx-2">My Profile</span></i>
      </a>
    </li>
    <li
      class="list-group-item"
      *ngIf="
        this.userRole() === 'SAdmin' || this.userPermissions()?.viewDashboard
      "
    >
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/dashboard']"
      >
        <i class="bi bi-speedometer"><span class="mx-2">Dashboard</span></i>
      </a>
    </li>
    <li
      class="list-group-item"
      *ngIf="
        userRole() === 'SAdmin' || this.userPermissions()?.updateAdminSettings
      "
    >
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/admin-settings']"
      >
        <i class="bi bi-sliders"><span class="mx-2">Admin Settings</span></i>
      </a>
    </li>
    <li
      class="list-group-item"
      *ngIf="userRole() === 'SAdmin' || this.userPermissions()?.viewUsers"
    >
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/users']"
      >
        <i class="bi bi-people-fill"><span class="mx-2">Users</span></i>
      </a>
    </li>
    <li
      class="list-group-item"
      *ngIf="userRole() === 'SAdmin' || this.userPermissions()?.createUser"
    >
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/create-user']"
      >
        <i class="bi bi-person-add"><span class="mx-2">Create User</span></i>
      </a>
    </li>
    <li
      class="list-group-item"
      *ngIf="userRole() === 'SAdmin' || this.userPermissions()?.listPlans"
    >
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/list-plans']"
      >
        <i class="bi bi-grid"><span class="mx-2">List Plans</span></i>
      </a>
    </li>
    <li
      class="list-group-item"
      *ngIf="userRole() === 'SAdmin' || this.userPermissions()?.createPlan"
    >
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/create-plan']"
      >
        <i class="bi bi-file-plus"><span class="mx-2">Create Plan</span></i>
      </a>
    </li>
    <li
      class="list-group-item"
      *ngIf="
        userRole() === 'SAdmin' ||
        this.userPermissions()?.viewPendingAdvertisements
      "
    >
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/advertisements-pending-approval']"
      >
        <i class="bi bi-file-plus"
          ><span class="mx-2">Ads Pending Approval</span></i
        >
      </a>
    </li>
    <li
      class="list-group-item"
      *ngIf="userRole() === 'SAdmin' || this.userPermissions()?.viewRfps"
    >
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/advertisements-pending-approval']"
      >
        <i class="bi bi-file-plus"
          ><span class="mx-2">RFPs Pending Approval</span></i
        >
      </a>
    </li>
    <li
      class="list-group-item"
      *ngIf="
        userRole() === 'SAdmin' || this.userPermissions()?.viewSupportRequests
      "
    >
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/user-request-supports']"
      >
        <i class="bi bi-question-diamond"
          ><span class="mx-2">Users Support Requests</span></i
        >
      </a>
    </li>
    <li class="list-group-item">
      <a
        [routerLinkActive]="['active_section']"
        [routerLink]="['/admin/change-password']"
      >
        <i class="bi bi-key"><span class="mx-2">Change Password</span></i>
      </a>
    </li>
    <li class="list-group-item">
      <a (click)="logout()" class="text-primary">
        <i class="bi bi-box-arrow-in-right"><span class="mx-2">Logout</span></i>
      </a>
    </li>
  </ul>
  <!-- <ol class="list-group list-group-numbered">
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Content for list item
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Content for list item
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Content for list item
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>

  </ol> -->
  <!-- <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      A list item
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      A second list item
      <span class="badge bg-primary rounded-pill">2</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      A third list item
      <span class="badge bg-primary rounded-pill">1</span>
    </li>
  </ul> -->
</div>
