<div class="container-fluid my-3">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title text-center align-center border-bottom">
            <span class="col-12"> Login Page</span>
          </h2>
          <div class="container mt-5 w-50 border p-3 border-1">
            <h4>Enter your user and password</h4>
            <hr />
            <app-form-errors [formErrors]="formErrors"></app-form-errors>
            <!-- <api-server-error *ngIf="loginError()" [error]="loginError()" /> -->
            <form [formGroup]="loginForm">
              <label for="userId form-label">User ID</label>
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input
                  type="email"
                  [class.is-invalid]="
                    loginForm.get('userId')?.invalid && loginForm.dirty
                  "
                  class="form-control"
                  id="userId"
                  formControlName="userId"
                />
              </div>
              <label for="password form-label">Password</label>
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"
                  ><i class="bi bi-key"></i
                ></span>
                <input
                  type="password"
                  [class.is-invalid]="
                    loginForm.get('password')?.invalid && loginForm.dirty
                  "
                  class="form-control"
                  id="password"
                  formControlName="password"
                />
              </div>

              <p class="my-2 form-text">
                Forgot your password?

                <a
                  class="form-text"
                  [routerLink]="['/reset-password']"
                  routerLinkActive="router-link-active"
                  >Reset</a
                >
              </p>

              <p class="my-2 form-text">
                Don’t have an account?
                <a routerLink="/signup" class="form-text">Sign-up</a>
              </p>

              <button
                type="submit"
                (click)="login()"
                class="submit-button my-2"
              >
                Login
              </button>
              <button
                (click)="reset()"
                class="reset-button my-2 mx-2"
                ngbTooltip="Reset Form"
              >
                Reset
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
