<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h2 class="card-title">
            <span class="col-12">Custom Page</span>
          </h2>
          Construction service Header/Title About Us: List of our
          services/products List of our project/ products Contact information:
          address, phone, fax, website

          <div class="border border-1 p-2">
            <a
              mat-raised-button
              color="primary"
              routerLink="/general/edit-custom-page"
            >
              Edit My Page
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
