<div class="pt-2 bg-light w-100">
  <div class="container p-5">
    <div class="row">
      <div class="p-4 p-sm-5">
        <div class="text-center px-0 px-sm-5">
          <h2>More visibility and response.</h2>
          <p class="m-0 px-0 px-md-5">
            Your advertisement deserves the top spot! Enjoy more views and
            responses than ordinary ads, as Top Ads replicate your listing,
            securing you a prime position for selling. It's a clear choice: the
            more eyes on your ad, the greater your chances of a successful sale!
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <div class="card" aria-hidden="true">
              <i class="bi bi-moon-stars card-title text-center h2 mt-2"></i>

              <div class="card-body">
                This feature highlights a maximum of five Top Ads at any given
                time within the dedicated Top Ad section, positioned prominently
                at the top of search results. This ensures optimal visibility
                for your listings, increasing their exposure and potential for
                engagement.
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" aria-hidden="true">
              <i class="bi bi-gem card-title text-center h2 mt-2"></i>
              <div class="card-body">
                In instances where there are more than five Top Ads within the
                same category, a rotation mechanism is implemented. This ensures
                that each Top Ad receives equal exposure by rotating them each
                time the page is loaded, allowing fair visibility for all
                sellers.
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" aria-hidden="true">
              <i class="bi bi-award card-title text-center h2 mt-2"></i>
              <div class="card-body">
                Top Ads duplicate your listing for 30 days, ensuring prime
                visibility and increased responses. This feature maximizes your
                selling opportunities by consistently placing your listing in a
                prominent position, making it easily accessible to a broader
                audience.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt-2 w-100">
  <div class="container p-5">
    <div class="row">
      <div class="p-4 p-sm-5">
        <div class="text-center px-0 px-sm-5">
          <h2>Get Started.</h2>
        </div>
      </div>

      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 border-end">
              <div class="card" aria-hidden="true">
                <h4 class="card-title text-center">
                  Promote existing advertisement
                </h4>
                <hr />
                <div class="card-body">
                  Simply log into your account, click on My advertisement item
                  on the left sidebar and then click on promote to top ad for
                  the specific advertisement.
                  <div class="mt-3 text-center">
                    <a class="btn btn-success cursor" (click)="navigateMyAds()"
                      ><i class="fa fa-arrow-right me-1"></i>Promote my ad</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card" aria-hidden="true">
                <h4 class="card-title text-center">
                  Post a new top advertisement
                </h4>
                <hr />
                <div class="card-body">
                  imply log into your account, click on create advertisement
                  item on the left sidebar and follow the steps. check top ad to
                  proceed.
                  <div class="mt-3 text-center">
                    <a
                      class="btn btn-primary mx-3 cursor"
                      (click)="navigateNewAd()"
                      ><i class="fa fa-arrow-right me-1"></i>Post a new ad</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
