<div class="container-fluid w-75 p-3 border rounded">
  <div class="row">
    <div class="col">
      <div #mapContainer id="map"></div>
    </div>
  </div>
  <div class="row border rounded p-4 my-2">
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-primary align-center"
        [routerLink]="['/advertisements']"
        routerLinkActive="router-link-active"
        [disabled]="disableSelect"
      >
        Select map locations
      </button>
    </div>
    <div class="d-flex justify-content-center h3">
      {{ formatLabel(RADIUS) }}
    </div>
    <div class="col-1 h4">{{ formatLabel(minRadius) }}</div>
    <div class="col-10 mt-2">
      <input
        type="range"
        class="form-range"
        [min]="minRadius"
        [max]="maxRadius"
        [step]="stepRadius"
        id="customRange3"
        [(ngModel)]="RADIUS"
        (change)="onSliderChange()"
      />
    </div>
    <div class="col-1 h4">{{ formatLabel(maxRadius) }}</div>
  </div>
</div>
