<div class="container-fluid w-75 p-3 border rounded">
  <div class="row">
    <div class="col">
      <div #mapContainer id="map"></div>
    </div>
  </div>
  <div class="row border rounded p-4 my-2">
    <div class="d-flex justify-content-center">
      <a
        type="submit"
        class="btn btn-primary align-center"
        [routerLink]="['/advertisements']"
        routerLinkActive="router-link-active"
      >
        Select map locations
      </a>
    </div>
    <br />
    <div class="col-1 h3">1K</div>
    <div class="col-10 mt-2">
      <input
        type="range"
        class="form-range"
        min="1000"
        max="100000"
        step="1000"
        id="customRange3"
        [(ngModel)]="RADIUS"
        (change)="onSliderChange()"
      />
    </div>
    <div class="col-1 h3">{{ formatLabel(RADIUS) }}</div>
  </div>
</div>
