<div class="container-fluid">
  <div class="row shadow-lg p-3 mb-5 bg-body-tertiary rounded border border-2">
    <div
      *ngIf="advertisement?.headerImage; then imageSection; else noImage"
    ></div>
    <ng-template #imageSection>
      <div
        class="col-3 align-middle background-container rounded-1 border border-1"
        [style.backgroundImage]="advertisement.headerImage"
      ></div
    ></ng-template>
    <ng-template #noImage>
      <div
        class="col-3 align-middle background-container rounded-1 border border-1"
        [style.backgroundImage]="
          'url(../../../../../assets/images/questionmark.png)'
        "
      ></div
    ></ng-template>

    <div class="col-9">
      <div class="continer-fluid">
        <div class="row">
          <div class="col-9 border-end">
            <div class="container-fluid">
              <div class="row">
                <div class="col-11">
                  <h5>
                    {{ advertisement.title }}
                  </h5>
                </div>
                <div class="col-1">
                  <!-- [ngStyle]="{'color': advertisement.isFavorite===1 ? 'green' : 'red'}" -->
                  <i
                    class="bi bi-heart-fill cursor h4"
                    [ngClass]="{
                      'text-danger': advertisement.isFavorite === 1
                    }"
                    (click)="addFavoriteAd(advertisement?.userAdvertisementId)"
                  >
                  </i>
                </div>
              </div>
              <div class="row">
                <div class="col my-2" *ngIf="advertisement?.topAdvertisement">
                  <button type="button" class="btn btn-outline-info">
                    TOP AD
                  </button>
                </div>
                <div class="row">
                  <div class="col">
                    <div
                      *ngIf="isUserLoggedIn(); then loggedIn; else public"
                    ></div>
                    <ng-template #loggedIn> {{ user()?.city }}</ng-template>
                    <ng-template #public>
                      {{ advertisement?.city }}</ng-template
                    >

                    |
                    {{
                      userService.formatTimeDifference(
                        advertisement?.dateCreated
                      ) === 'Now'
                        ? 'Now'
                        : userService.formatTimeDifference(
                            advertisement?.dateCreated
                          ) + ' ago'
                    }}
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <quill-view-html
                      [content]="
                        commonUtility.extractDescription(
                          advertisement?.description
                        )
                      "
                      theme="snow"
                    ></quill-view-html>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col">
                    <a
                      type="button"
                      class="btn btn-outline-secondary"
                      (click)="
                        navigateDetails(advertisement.userAdvertisementId)
                      "
                    >
                      View more info
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 rounded p-2">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <div
                    *ngIf="
                      advertisement?.showPicture &&
                        advertisement?.userProfileImage;
                      then showPic;
                      else noShow
                    "
                  ></div>
                  <ng-template #showPic>
                    <img
                      class="img-thumbnail rounded"
                      width="100"
                      height="100"
                      [src]="
                        imageService.bufferToSafeUrl(
                          advertisement?.userProfileImage
                        )
                      "
                  /></ng-template>
                  <ng-template #noShow>
                    <i
                      class="bi bi-person"
                      style="font-size: 4rem; color: cornflowerblue"
                    ></i>
                  </ng-template>
                </div>
              </div>
              <div class="row">
                <div class="">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <rating
                        [(ngModel)]="advertisement.average_userOverallRating"
                        [max]="commonUtility.getMaxUserRating()"
                        [readonly]="true"
                      ></rating>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
