<div class="card" aria-hidden="true" *ngIf="advertisement">
  <div class="card-body">
    <h4 class="card-title text-center">
      {{ this.advertisement.title | titlecase }}
    </h4>

    <hr />
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Number of Advertisements
        <span class="badge bg-primary rounded-pill"> sdfasd </span>
      </li>

      <hr />
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        {{ this.advertisement.description }}
      </li>
    </ul>
  </div>
</div>
