<ng-container *ngIf="serverError || formErrors">
  <div class="container">
    <div class="row">
      <div class="col-6 m-3 p-3">
        <app-form-errors
          *ngIf="formErrors"
          [formErrors]="formErrors"
        ></app-form-errors>
        <api-server-error *ngIf="serverError" [error]="serverError" />
      </div>
    </div>
  </div>
</ng-container>

<div class="row p-2">
  <div class="col-md-6 col-sm-12 border-end">
    <form [formGroup]="form">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <h2 class="mb-3 border-bottom">Change your password.</h2>
            <h4 *ngIf="changeSuccuss" class="text-success">
              Password change successful
            </h4>
          </div>
        </div>
        <div class="row my-1">
          <div class="col-lg-4">Current Password</div>
          <div class="col-lg-8">
            <input
              type="password"
              class="form-control"
              placeholder="Enter password"
              [(ngModel)]="currentPassword"
              formControlName="currentPassword"
            />
          </div>
        </div>
        <div class="row my-1">
          <div class="col-lg-4">Password</div>
          <div class="col-lg-8">
            <input
              type="password"
              class="form-control"
              placeholder="Enter password"
              [(ngModel)]="password"
              formControlName="password"
            />
          </div>
        </div>
        <div class="row my-1">
          <div class="col-lg-4">Confirm Password</div>
          <div class="col-lg-8">
            <input
              type="password"
              class="form-control"
              placeholder="Confirm Password."
              formControlName="confirmPassword"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <button class="submit-button" (click)="changePassword()">
              Change password
            </button>
          </div>
        </div>
      </div>
      <div class="row p-4"></div>
    </form>
  </div>

  <div class="col-md-6 col-sm-12">
    <h2 class="border-bottom-1">Password Rule.</h2>
    <ul
      class="list-group list-group-borderless list-group-icon-primary-bg mb-4"
      *ngFor="let item of this.commonUtility.passwordRule()"
    >
      <li class="list-group-item"><i class="bi bi-check"></i>{{ item }}</li>
    </ul>
  </div>
</div>
