<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <div *ngIf="settingError; then showError; else noError"></div>
          <ng-template #showError> Error getting plan information </ng-template>
          <ng-template #noError>
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <app-form-errors [formErrors]="formErrors"></app-form-errors>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <p class="h2 border-bottom">Edit Plan</p>
                </div>
              </div>
              <div class="row">
                <div class="col-7">
                  <form [formGroup]="form">
                    <div class="row">
                      <div class="col-md-3 mt-1 form-labe">Plan Name</div>
                      <div class="col-md-8">
                        <input
                          class="form-control"
                          placeholder="Enter plan name..."
                          formControlName="planName"
                          [(ngModel)]="plan.planName"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mt-1 form-labe">Plan Type</div>
                      <div class="col-md-8">
                        <select
                          formControlName="planType"
                          class="form-select"
                          aria-label="Default select province"
                          [(ngModel)]="plan.planType"
                        >
                          <option selected value="free">Trial free plan</option>
                          <option value="monthly">Monthly plan</option>
                          <option value="quarterly">Quarterly plan</option>
                          <option value="semi">Semi Annual plan</option>
                          <option value="yearly">Yearly plan</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mt-1 form-labe">Price</div>
                      <div class="col-md-8">
                        <input
                          class="form-control"
                          placeholder="Enter price..."
                          formControlName="priceAfterDiscount"
                          type="number"
                          max="1000"
                          min="0"
                          [(ngModel)]="plan.priceAfterDiscount"
                        />
                      </div>
                    </div>
                    <div class="row my-2">
                      <div class="col-md-3 mt-1 form-labe">
                        Plan Effective Dates
                      </div>
                      <div class="col-md-8">
                        <mat-form-field
                          appearance="outline"
                          [ngStyle]="
                            this.storageService.getTheme()() === 'dark'
                              ? { 'background-color': 'dark' }
                              : { 'background-color': 'light' }
                          "
                        >
                          <mat-label
                            [class]="
                              this.storageService.getTheme()() === 'dark'
                                ? 'text-white'
                                : ''
                            "
                            >Effective Dates</mat-label
                          >
                          <mat-date-range-input
                            [formGroup]="form"
                            [rangePicker]="campaignOnePicker"
                            [comparisonStart]="plan.startDate"
                            [comparisonEnd]="plan.expiryDate"
                          >
                            <input
                              matStartDate
                              placeholder="Start date"
                              formControlName="startDate"
                              [(ngModel)]="plan.startDate"
                              [class]="
                                this.storageService.getTheme()() === 'dark'
                                  ? 'text-white'
                                  : ''
                              "
                            />
                            <input
                              matEndDate
                              placeholder="End date"
                              formControlName="endDate"
                              [(ngModel)]="plan.expiryDate"
                              [class]="
                                this.storageService.getTheme()() === 'dark'
                                  ? 'text-white'
                                  : ''
                              "
                            />
                          </mat-date-range-input>
                          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle
                            matIconSuffix
                            [for]="campaignOnePicker"
                          ></mat-datepicker-toggle>
                          <mat-date-range-picker
                            #campaignOnePicker
                          ></mat-date-range-picker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mt-1 form-labe">
                        Number of Advertisements
                      </div>
                      <div class="col-md-8">
                        <input
                          class="form-control"
                          placeholder="Enter Number of Advertisements..."
                          formControlName="numberOfAdvertisements"
                          type="number"
                          [(ngModel)]="plan.numberOfAdvertisements"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 mt-1 form-labe">
                        Create Request for Proposal (RFP)
                      </div>
                      <div class="col-md-8">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          formControlName="createRfpIncluded"
                          [(ngModel)]="plan.createRfpIncluded"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mt-1 form-labe">
                        Submit Proposals for Construction Projects
                      </div>
                      <div class="col-md-8">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          formControlName="createBidsIncluded"
                          [(ngModel)]="plan.createBidsIncluded"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mt-1 form-labe">
                        Custom Profile Included
                      </div>
                      <div class="col-md-8">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          formControlName="customProfileIncluded"
                          [(ngModel)]="plan.customProfileIncluded"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mt-1 form-labe">
                        Online Support Included
                      </div>
                      <div class="col-md-8">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          formControlName="onlineSupportIncluded"
                          [(ngModel)]="plan.onlineSupportIncluded"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mt-2">Plan Description</div>
                      <div class="col-md-8">
                        <textarea
                          class="form-control"
                          placeholder="Enter description"
                          formControlName="planDescription"
                          maxlength="400"
                          rows="5"
                          [(ngModel)]="plan.planDescription"
                        ></textarea>
                        <span class="text-danger">
                          {{
                            this.form?.get('planDescription')?.value?.length
                              ? this.form?.get('planDescription')?.value?.length
                              : 0
                          }}</span
                        >

                        / 400
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-5 border-start">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col">
                        <app-plan [plan]="plan"></app-plan>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <button class="submit-button my-2" (click)="submit()">
                    Submit
                  </button>
                </div>
              </div>
            </div></ng-template
          >
        </div>
      </div>
    </div>
  </div>
</div>
