<div class="container my-5 border border-1 border-primary p-3 w-50">
  <app-form-errors [formErrors]="formErrors"></app-form-errors>
  <api-server-error *ngIf="serverError" [error]="serverError" />
  <div class="row">
    <div class="col-md-6 col-sm-12 border-end border-1 border-primary">
      <h3 class="mb-3">Reset Password</h3>
      <form [formGroup]="form">
        <label for="userId form-label">User ID</label>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">@</span>
          <input
            [class.is-invalid]="form.get('userId')?.invalid && form.dirty"
            class="form-control"
            placeholder="Enter email..."
            [(ngModel)]="userId"
            maxlength="50"
            minlength="8"
            formControlName="userId"
            [class.error]="form.get('userId')?.invalid"
            type="email"
          />
        </div>
      </form>
      <button class="submit-button mt-2" (click)="resetPassword()">
        Reset Password
      </button>
    </div>
    <div class="col-md-6 col-sm-12">
      <ng-container *ngIf="!resetDone">
        <h4 class="text-success">
          Enter your email and follow the instructions.
        </h4>
      </ng-container>
      <ng-container *ngIf="resetDone">
        <h4 class="text-success">Password Reset Successfully</h4>
        <p>
          Please check your email. Your link will expire in
          {{ passwordResetExpiry }} hour.
        </p>
      </ng-container>
    </div>
  </div>
</div>
<app-spinner [isLoading]="loading"></app-spinner>
